/* front page  */
.main-heading+p {
  margin: 1rem auto 2rem;
}

/* section 1  */
/* feature section  */
.feature-section {
  padding: 4rem 0;
}

.feature-img img {
  position: relative;
  left: -5%;
}

/* feature section articles  */
.feature-articles {
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.feature-section .article-heading+p {
  margin-bottom: 3rem;
  width: 60%;
}

/* section 2  */
/* access info section  */
.access-info-section img {
  margin: auto;
}

/* section 3  */
/* additional info section  */
.additional-info-section {
  padding: 3rem 0 0;
}

.additional-info-section .container-fluid {
  padding: 0 var(--content-main-padding);
  text-align: center;
  margin-bottom: 4rem;
}

/* additional info section article  */
.additional-info-section .article-heading+p {
  padding: 0 1rem;
}

.article-img {
  margin: 2rem auto;
}

.client-icons {
  flex-wrap: wrap;
}

.icon-holder {
  margin-top: 2rem;
}

/* section 4  */
/* download section  */
.download-section {
  padding: 15vh 0;
}

@media (max-width: 48rem) {
  .feature-info {
    flex-direction: column;
    text-align: center;
  }

  .feature-section .article-heading+p {
    width: 100%;
  }

  .feature-img img {
    position: static;
    margin-bottom: 3rem;
  }

  /* additional info section  */
  .additional-info-section .section-heading+p {
    margin-bottom: 2rem;
  }

  .client-icons {
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }

  .icon-holder {
    margin: 2rem 0;
  }
}