/* Score board */
#scoreboard {
  flex-direction: column;
  position: relative;
  background: hsl(223, 19%, 93%);
  color: #5457b6;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 8px;
  margin-right: 15px;
}

#scoreboard img {
  margin: 10px;
  cursor: pointer;
  width: 15px;
}

#scoreboard img:hover {
  opacity: 0.8;
}