/* Score board */
#scoreboard {
  flex-direction: column;
  position: relative;
  background: hsl(220, 18%, 97%);
  color: #5457b6;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 8px;
  margin: 0 15px;
}

#scoreboard img {
  margin: 10px;
  cursor: pointer;
  width: 12px;
}

#scoreboard img:hover {
  opacity: 0.8;
}


/* buttons: Icons*/
.icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: none;
  background: transparent;
  padding: 10px;
}

.icons img {
  margin-right: 7px;
}

.icons:hover {
  opacity: 0.6;
}

/* delete Modal */
#delete-modal {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
}

#delete-modal>div {
  background: white;
  display: flex;
  flex-direction: column;
  width: 370px;
  margin: auto;
  border-radius: 10px;
}

#delete-modal>div h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#delete-modal>div p {
  color: hsl(211, 10%, 45%);
}

#delete-modal button {
  margin: 0;
  padding: 10px 25px;
  border-radius: 7px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s all;
}

#delete-modal button:first-of-type {
  background: hsl(211, 10%, 45%);
}

#delete-modal button:last-of-type {
  background: hsl(358, 79%, 66%);
}

#delete-modal button:hover {
  opacity: 0.8;
  scale: 1.1;
}

@media (max-width:600px) {
  #scoreboard {
    flex-direction: row;
    width: 40%;
  }
}