@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* graphic-design-text */
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  /*photography text*/
  --Dark-blue: hsl(198, 62%, 26%);
  /*footer*/
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

}

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces', serif;
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 1% 5%;
}

img {
  margin: 0;
}

/* headings */
.big-heading {
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .3rem;
  word-spacing: .5rem;
}

.hidden-heading {
  position: absolute;
  display: none;
}

/* header navigation */
.nav-link {
  margin: 0 1rem;
  color: #fff;
  cursor: pointer;
}

.nav-contact-btn {
  background-color: #fff;
  border-radius: 1.5rem;
  border: none;
  color: black;
  padding: .7rem 1.5rem;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
}

/* front section */
#front-section {
  width: 100vw;
  height: 100vh;
}

/* down arrow image */
.arrow-down-image {
  background: url("./assets/images/icon-arrow-down.svg") center center /cover no-repeat;
  width: 1.8rem;
  height: 9.5rem;
  position: absolute;
  top: 35vh;
  left: 50%;
}

/* header image */
.header-image img {
  width: 100%;
  height: 100%;
  object-position: center bottom;
  object-fit: cover;
}

/* grid section */
#grid-section article {
  padding: 0;
  height: 60vh;
}

#grid-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* article with text */
.info-article {
  padding: 4rem 8rem;
}

.info-article h3 {
  font-size: 2.5rem;
  width: 85%;
}

.info-article p {
  color: var(--Dark-grayish-blue);
  margin: 1rem 0 2rem;
}

.info-article button {
  border: none;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--Yellow);
  text-decoration-thickness: .3rem;
  opacity: 0.7;
  font-family: 'Fraunces', serif;
  transition: opacity .3s linear;
}

.info-article button:hover {
  opacity: 1;
}

/* last article set: last two articles  */
.article-set-3 article {
  position: relative;
}

.article-set-3 picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* last article text content  */
.article-img-content {
  padding: 17rem 13rem 1rem;
  text-align: center;
}

.article-img-content h3 {
  margin-bottom: 1rem;
}

.tangerine-article {
  color: var(--Dark-blue);
}

.cherry-article {
  color: var(--Dark-desaturated-cyan);
}

/* testimonial section  */
#testimonial-section {
  padding: 5rem 10rem;
  text-align: center;
  color: var(--Very-dark-grayish-blue);
  background-color: hsl(0, 33%, 98%);
}

.testimonial-heading {
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: var(--Grayish-blue);
  font-size: 1.3rem;
  letter-spacing: .3rem;
}

/* testimonials of users */
.user {
  padding: 0.5rem 3.1rem;
}

.user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.user-text {
  margin-bottom: 3.5rem;
}

.user-name {
  font-size: 1rem;
  color: var(--Very-dark-desaturated-blue);
}

.user-position {
  color: var(--Grayish-blue);
  font-size: .9rem;
}