@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* graphic-design-text */
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  /*photography text*/
  --Dark-blue: hsl(198, 62%, 26%);
  /*footer*/
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

}

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces', serif;
}

header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 1% 5%;
}

img {
  margin: 0;
}

footer {
  background-color: hsl(169, 46%, 71%);
  color: var(--Dark-desaturated-cyan);
  padding: 2rem;
}

/* headings */
.big-heading {
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  z-index: 1;
  translate: -50% 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .3rem;
  word-spacing: .5rem;
  text-align: center;
}

main.hide .big-heading {
  z-index: -1;
}

.hidden-heading {
  position: absolute;
  display: none;
}

/* header navigation */
.navbar-toggler:focus {
  outline: none;
  scale: 1.1;
}

.nav-link {
  margin: 0 1rem;
  color: #fff;
  cursor: pointer;
}

.nav-contact-btn {
  background-color: #fff;
  border-radius: 1.5rem;
  border: none;
  color: var(--Very-dark-grayish-blue);
  padding: .7rem 1.1rem !important;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
}

.nav-contact-btn:hover {
  background-color: rgb(100, 216, 255);
  color: #fff;
}

/* navigation sidebar */
.sidebar {
  position: absolute;
  top: 7rem;
  right: 3%;
  left: 3%;
  background: #fff;
  z-index: 100;
  transition: all .3s;
  padding: 3rem;
  text-align: center;
}

.sidebar .nav-link {
  color: var(--Very-dark-grayish-blue);
  margin: .5rem 0;
}

.sidebar .nav-contact-btn {
  width: 40%;
  margin: 1rem auto;
}

.sidebar .nav-contact-btn:hover {
  opacity: 0.6;
  background-color: var(--Yellow);
  color: black;
}

.sidebar::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #fff;
  rotate: -45deg;
  top: -0.5rem;
  right: -3.1rem;
}

/* front section */
#front-section {
  width: 100vw;
  height: 100vh;
}

/* down arrow image */
.arrow-down-image {
  background: url("./assets/images/icon-arrow-down.svg") center center /cover no-repeat;
  width: 3rem;
  position: absolute;
  top: 35vh;
  left: 50%;
  bottom: 30%;
}

main.hide .arrow-down-image {
  z-index: -1;
}

/* header image */
.header-image img {
  width: 100%;
  height: 100%;
  object-position: center bottom;
  object-fit: cover;
}

/* grid section */
#grid-section article {
  padding: 0;
  height: 60vh;
}

#grid-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* article with text */
.info-article {
  padding: 4rem 8rem;
  background-color: #fff;
}

.info-article h3 {
  font-size: 2.5rem;
  width: 85%;
}

.info-article p {
  color: var(--Dark-grayish-blue);
  margin: 1rem 0 2rem;
}

.info-article button {
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--Yellow);
  text-decoration-thickness: .3rem;
  opacity: 0.7;
  font-family: 'Fraunces', serif;
  transition: opacity .3s linear;
}

.info-article button.info2-btn {
  text-decoration-color: var(--Soft-red);
}

.info-article button:hover {
  opacity: 1;
}

/* last article set: last two articles  */
.article-set-3 article {
  position: relative;
}

.article-set-3 picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* last article text content  */
.article-img-content {
  padding: 17rem 13rem 1rem;
  text-align: center;
}

.article-img-content h3 {
  margin-bottom: 1rem;
}

.tangerine-article {
  color: var(--Dark-blue);
}

.cherry-article {
  color: var(--Dark-desaturated-cyan);
}

/* testimonial section  */
#testimonial-section {
  padding: 5rem 10rem;
  text-align: center;
  color: var(--Very-dark-grayish-blue);
  background-color: hsl(0, 33%, 98%);
}

.testimonial-heading {
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: var(--Grayish-blue);
  font-size: 1.3rem;
  letter-spacing: .3rem;
}

/* testimonials of users */
.user {
  padding: 0.5rem 3.1rem;
}

.user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.user-text {
  margin-bottom: 3.5rem;
}

.user-name {
  font-size: 1rem;
  color: var(--Very-dark-desaturated-blue);
}

.user-position {
  color: var(--Grayish-blue);
  font-size: .9rem;
}

/* image section  */
#image-section picture {
  padding: 0;
}

#image-section img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center center;
}

/* footer  */
.footer-title {
  font-size: 2rem;
}

.footer-links,
.footer-icons {
  display: flex;
  list-style-type: none;
}

.footer-links li {
  margin: 0 2rem;
  color: var(--Dark-moderate-cyan);
  cursor: pointer;
  transition: .3s all;
}

.footer-links li:hover {
  color: #eee;
}

.footer-icons {
  margin: 3rem 1rem;
}

.footer-icons:hover {
  fill: #fff;
}

.footer-icons li {
  margin: 0 1rem;
  cursor: pointer;
}


/* media query  */

@media (max-width: 1280px) {

  /* grid section last 2 article  */
  .article-img-content {
    padding: 17rem 5rem 1rem;
  }
}

@media (max-width:1250px) {

  /* testinomial section  */
  #testimonial-section {
    padding: 5rem;
  }

  .user {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 1050px) {

  /* grid section article with text */
  .info-article {
    padding: 4rem 6rem;
  }

  .info-article h3 {
    width: 100%;
  }
}

@media (max-width: 870px) {

  /* grid section article with text */
  .info-article {
    padding: 4rem;
  }
}

@media (max-width: 767px) {

  /* bootstrap medium size  */
  /* grid section */

  /* Change order of 2 article*/
  .article-set-1 article:first-child {
    order: 2;
  }

  .article-set-1 article:last-child {
    order: 1;
  }

  .info-article {
    text-align: center;
    padding: 8rem 4rem;
  }

  /* navigation button  */
  .nav-contact-btn {
    background-color: var(--Yellow);
  }

}

@media (max-width: 500px) {

  /* grid section */
  .info-article {
    text-align: center;
    padding: 4rem;
  }
}

@media (max-width:400px) {

  /* big heading */
  .big-heading {
    font-size: 2.7rem;
  }

  /* grid section */
  .info-article {
    text-align: center;
    padding: 2rem;
  }

  /* testinomial article user  */
  .user {
    padding: .5rem;
  }

  .user-text {
    margin-bottom: 1rem;
  }

  /* grid section last 2 article  */
  .article-img-content {
    padding: 17rem 3rem 1rem;
  }
}