@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

/* General styles */
:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);

  --Very-light-grayish-blue: hsl(213, 43%, 96%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(218, 10%, 55%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  font-size: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--Very-light-grayish-blue);
}

/* Header */
header {
  position: absolute;
  top: 15vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

/* Main */
main {
  width: 60%;
  margin: 3vh auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  padding: 20px;
  height: 88vh;
}

/* Notification */
#notification {
  font-weight: 800;
  font-size: 1.5em;
}

#notification span {
  background-color: var(--Blue);
  color: white;
  font-size: 0.6em;
  padding: 2px 9px;
  margin-left: 9px;
  border-radius: 3px;
  text-align: center;
}

#notification+p:hover {
  color: var(--Blue);
}

/* Profile */
.profile {
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  line-height: 1em;
}

.profile.not-read {
  background-color: var(--Very-light-grayish-blue);
}

.profile div:first-child {
  margin: 5px 15px 0 0;
}

.profile div:nth-child(2) {
  flex-grow: 1;
}

.profile img {
  width: 40px;
  border: 2px solid;
  border-color: var(--Light-grayish-blue-2);
  border-radius: 50%;
}

.profile .name {
  font-weight: 800;
  color: var(--Very-dark-blue);
}

.profile .name:hover {
  color: var(--Blue);
}

.profile .activity {
  color: var(--Dark-grayish-blue);
  font-size: 0.85em;
  margin: 0 5px;
}

.profile .interest {
  color: var(--Grayish-blue);
  font-weight: 800;
}

.profile .interest:hover {
  color: var(--Blue);
}

.profile .interest.sp {
  color: var(--Blue);
}

.profile .interest+span {
  color: hsl(1, 90%, 64%);
  margin-left: 5px;
  font-weight: 800;
  font-size: 1.3em;
}

.profile .time {
  color: var(--Grayish-blue);
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

.profile div div.message-box {
  margin: 8px;
  padding: 10px 12px;
  background-color: white;
  color: var(--Dark-grayish-blue);
  font-size: 0.9em;
}

.profile div div.message-box:hover {
  background-color: var(--Very-light-grayish-blue);
}

.resp-img {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name,
.message-box,
.resp-img,
.interest,
#notification+p {
  cursor: pointer;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  background-color: transparent;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {
  main {
    width: 90vw;
  }
}

@media screen and (max-width: 575px) {
  main {
    width: 90vw;
    height: 90vh;
  }

  footer {
    opacity: 0;
  }

  .interest {
    font-size: 0.9em;
  }
}

@media screen and (max-width:500px) {

  main div,
  .profile {
    padding: 3px;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 95vw;
    height: 95vh;
    padding: 2px;
  }

  main div,
  .profile {
    padding: 2px;
  }
}

@media screen and (max-width: 350px) {
  #notification+p {
    display: none;
  }
}