@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);

  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  background-color: transparent;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}