@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* General */
:root {
  /*background color*/
  --Radial-Gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  --Scissors-Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --Paper-Gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --Rock-Gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --Lizard-Gradient: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Cyan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* image position along x and y axis*/
  --position-x: 125px;
  --position-bottom: 50px;
  --position-top: 10px;
  /* image background */
  --width: 160px;
  --offset: 30px;
  /* factor to increase image size at midgame */
  --sizeIncreaeFactor: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

button {
  cursor: pointer;
  transition: all .3s;
}

section h2 {
  position: absolute;
  opacity: 0;
}

/* Body */

body {
  overflow: hidden;
}

body,
#root {
  height: 100vh;
  width: 100vw;
  background: var(--Radial-Gradient);
}

#root h1 {
  position: absolute;
  top: 10px;
  left: 50vw;
  transform: translateX(-50%);
  opacity: 0
}

#root {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

#root.active::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}

/* Modal */
#modal,
#modal div:first-of-type,
#modal div:last-child {
  display: flex;
}

#modal {
  width: 400px;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#modal h2 {
  color: black;
  top: 1px;
  text-align: center;
  font-size: 15px;
}

#modal div:first-of-type {
  padding: 3px 0 20px 0;
}

#modal div:first-of-type,
#modal div:last-child {
  justify-content: space-between;
  align-items: center;
}

#modal div:first-of-type p {
  font-size: 30px;
  color: var(--Dark-Text);
  font-weight: 700;
}

#modal div:last-of-type img {
  width: 100%;
}

#modal .close-btn:hover {
  transition: all .3s;
  cursor: pointer;
  scale: 1.2;
}

/* For bouus round */
#modal .change-mode {
  margin-top: 15px;
  padding: 8px 15px;
  color: red;
}

/* Game */
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game: Score board */
#game .score-board {
  display: flex;
  justify-content: space-between;
  border: 3px var(--Header-Outline) solid;
  border-radius: 25px;
  padding: 20px 25px;
  width: 45vw;
  min-width: 600px;
  align-items: center;
}

#game .score-board h2 {
  left: 50vw;
  transform: translateX(-50%);
}

#game .score-board .score {
  width: 18%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  min-width: 150px;
}

#game .score-board .score p:first-child {
  color: var(--Score-Text);
  letter-spacing: 0.1em;
  margin-bottom: -5px;
}

#game .score-board .score p:last-child {
  color: var(--Dark-Text);
  font-size: 50px;
  font-weight: 700;
}

/* Game: Pick a choice */
#game .startgame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 650px;
  position: relative;
  margin-top: 40px;
}

#game .startgame h2 {
  top: -3vh;
}

#game .startgame div {
  position: absolute;
  cursor: pointer;
  transition: all .3s;
}

#game .startgame div:hover {
  transform: scale(1.1);
}

#game .startgame div,
#game .midgame div {
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game .midgame div {
  width: calc(var(--width) * var(--sizeIncreaeFactor));
  height: calc(var(--width) * var(--sizeIncreaeFactor));
}

#game .startgame .paper,
#game .startgame .scissors {
  top: var(--position-top);
}

#game .startgame .paper {
  left: var(--position-x);
}

#game .startgame .scissors {
  right: var(--position-x);
  background: var(--Scissors-Gradient);
}

#game .startgame .rock {
  bottom: var(--position-bottom);
  background: var(--Rock-Gradient);
}

#game .startgame .lizard {
  background: var(--Lizard-Gradient);
}

#game .startgame .spock {
  background: var(--Cyan-Gradient);
}

/* position for hard mode */
#game .startgame.hard .paper {
  background: var(--Paper-Gradient);
  left: calc(var(--position-x) + 285px);
  top: calc(var(--position-top) + 100px);
}

#game .startgame.hard .scissors {
  background: var(--Scissors-Gradient);
  right: calc(var(--position-x) + 120px);
  top: calc(var(--position-top) - 20px);
}

#game .startgame.hard .rock {
  background: var(--Rock-Gradient);
  left: calc(var(--position-x) + 220px);
  bottom: calc(var(--position-bottom) - 60px);
}

#game .startgame.hard .lizard {
  background: var(--Lizard-Gradient);
  right: calc(var(--position-x) + 220px);
  bottom: calc(var(--position-bottom) - 60px);
}

#game .startgame.hard .spock {
  background: var(--Cyan);
  right: calc(var(--position-x) + 285px);
  top: calc(var(--position-top) + 100px);
}

/* Rock Paper Scissors image */
/* Midgame */
#game .startgame div img,
#game .midgame div img {
  background-color: white;
  border-radius: 50%;
  padding: 30px;
  width: calc(var(--width) - var(--offset));
  height: calc(var(--width) - var(--offset));
}

#game .midgame div img {
  width: calc((var(--width) - var(--offset)) * var(--sizeIncreaeFactor));
  height: calc((var(--width) - var(--offset)) * var(--sizeIncreaeFactor));
}

.paper,
.midgame.active .paper {
  background: var(--Paper-Gradient);
}

.scissors,
.midgame.active .scissors {
  background: var(--Scissors-Gradient);
}

.rock,
.midgame.active .rock {
  background: var(--Rock-Gradient);
}

.lizard,
.midgame.active .lizard {
  background: var(--Lizard-Gradient);
}

.spock,
.midgame.active .spock {
  background: var(--Cyan);
}

/* midgame grid structure */
.midgame {
  display: grid;
  grid-template-columns: 50% 0 50%;
  width: 45vw;
  min-width: 600px;
  grid-template-rows: 100px 400px;
  margin-top: -50px;
  color: white;
}

.midgame.active {
  min-width: 50vw;
  grid-template-columns: 33% 33% 33%;
}

.midgame div {
  margin: auto;
  font-size: 25px;
}

/* for computer choice img */
.midgame div:nth-child(7) {
  background: var(--Radial-Gradient);
}

.midgame div:nth-child(7) img {
  display: none;
}

#game .midgame.active div img {
  display: block;
}

/* midgame result */
.midgame.active .show-result {
  display: flex;
  flex-direction: column;
  transition: .3s all;
}

/* small width change */
.midgame.active .show-result.active {
  grid-column: span 3;
}

.midgame.active .show-result p {
  font-size: 50px;
}

.midgame.active .show-result button {
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  letter-spacing: 0.2em;
}

.midgame .show-result button:hover {
  scale: 1.05;
}

/* Rules button */
.rules {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  padding: 10px 30px;
  background-color: transparent;
  border-color: white;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.rules:hover {
  background-color: white;
  color: rgb(36, 36, 170);
}

/* Footer */
footer {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
}

.attribution {
  font-size: 13px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* For first page : startgame */
@media screen and (max-width: 700px) {

  #game .score-board {
    min-width: 550px;
  }

  .startgame,
  .midgame {
    min-width: 400px;
  }

  .startgame {
    height: 400px;
  }
}

@media screen and (max-width: 550px) {
  #game .score-board {
    min-width: 450px;
  }

  .rules {
    right: 3vw;
  }
}

@media screen and (max-width: 450px) {
  #game .score-board {
    min-width: 400px;
  }
}

/* for midgame */
@media screen and (max-width: 1300px) {
  .midgame {
    width: 60vw;
  }
}

@media screen and (max-width: 1130px) {
  .midgame {
    width: 70vw;
  }
}

@media screen and (max-width: 960px) {
  .midgame {
    width: 85vw;
  }
}

@media screen and (max-width: 800px) {
  .midgame {
    width: 95vw;
  }
}

@media screen and (max-width: 750px) {

  .midgame div:nth-child(1),
  .midgame div:nth-child(3) {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --sizeIncreaeFactor: 1.25;
  }
}

@media screen and (max-width: 650px) {
  .midgame {
    height: 100vh;
  }

  .midgame,
  .midgame.active {
    grid-template-columns: 50% 0 50%;
    grid-template-rows: 50px 400px;
  }

  .midgame.active .show-result {
    margin-top: -130px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --sizeIncreaeFactor: 1.1;
  }
}

@media screen and (max-width: 405px) {

  /* Change structure */
  :root {
    --position-x: 0;
    --position-bottom: 0;
    --position-top: 0;

    --width: 140px;
    --offset: 35px;
    --sizeIncreaeFactor: 1.05;
  }

  /* modal */
  #modal {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  #modal div:first-of-type {
    display: flex;
    justify-content: center;
    margin: 50px 0 30px;
  }

  #modal .change-mode {
    margin-top: 40px;
  }

  #modal .close-btn {
    position: absolute;
    bottom: 1vh;
  }

  #modal .close-btn img {
    margin: auto;
    box-shadow: 0 0 10px 5px rgb(223, 217, 217);
    padding: 15px;
  }

  /* score board */
  #game .score-board {
    width: 90vw;
    min-width: 320px;
    padding: 10px;
    border-radius: 5px;
  }

  #game .score-board img {
    width: 40%;
  }

  #game .score-board .score {
    min-width: 80px;
    border-radius: 5px;
  }

  #game .score-board .score p:first-child {
    margin: -10px 0;
  }

  #game .score-board .score p:last-child {
    font-size: 45px;
  }

  /* game choice img */
  #game .startgame,
  #game .midgame {
    width: 90vw;
    min-width: 320px;
    height: 50vh;
  }

  /* midgame grid-structure*/
  #game .midgame div {
    white-space: nowrap;
  }

  .midgame div:nth-child(2) {
    grid-column: 1 / 2;
  }

  .midgame div:nth-child(4) {
    grid-column: 2 / 2;
  }

  .midgame div:nth-child(2),
  .midgame div:nth-child(4) {
    grid-row: 2 / 2;
    margin-top: -70px;
    font-size: 18px;
  }

  .midgame div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .midgame div:nth-child(7) {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }

  /* result */
  .midgame div:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    grid-column: span 3;
  }

  .midgame .show-result p {
    font-size: 40px;
  }

  .midgame .show-result button {
    display: none;
    width: 120%;
    padding: 10px 30px;
    white-space: nowrap;
    border-radius: 5px;
  }

  .midgame.active .show-result button {
    display: block;
  }

  .midgame {
    margin-top: 40px;
  }

  .midgame.active,
  .midgame {
    grid-template-rows: 200px 140px 200px;
  }

  /* rule button */
  .rules {
    left: 50vw;
    transform: translateX(-50%);
    width: 30%;
  }
}