@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* General */
:root {
  /*background color*/
  --Radial-Gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  --Scissors-Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --Paper-Gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --Rock-Gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --Lizard-Gradient: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Cyan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* image position along x and y axis*/
  --position-x: 125px;
  --position-bottom: 50px;
  --position-top: 10px;
  /* image background */
  --width: 160px;
  --offset: 30px;
  /* factor to increase image size at midgame */
  --sizeIncreaeFactor: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

/* body {
  overflow: hidden;
} */

body,
#root {
  height: 100vh;
  width: 100vw;
  background: var(--Radial-Gradient);
}

#root {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

#root.active::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}

/* Modal */
#modal,
#modal div:first-child,
#modal div:last-child {
  display: flex;
}

#modal {
  width: 350px;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#modal div:first-child {
  padding: 3px 0 25px 0;
}

#modal div:first-child,
#modal div:last-child {
  justify-content: space-between;
  align-items: center;
}

#modal div:first-child p {
  font-size: 30px;
  color: var(--Dark-Text);
  font-weight: 700;
}

#modal div:last-child img {
  width: 100%;
}

/* Game */
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game: Score board */
#game .score-board {
  display: flex;
  justify-content: space-between;
  border: 3px var(--Header-Outline) solid;
  border-radius: 25px;
  padding: 20px 25px;
  width: 45vw;
  min-width: 600px;
}

#game .score-board .score {
  width: 18%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  min-width: 150px;
}

#game .score-board .score p:first-child {
  color: var(--Score-Text);
  letter-spacing: 0.1em;
  margin-bottom: -5px;
}

#game .score-board .score p:last-child {
  color: var(--Dark-Text);
  font-size: 50px;
  font-weight: 700;
}

/* Game: Pick a choice */
#game .startgame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 650px;
  position: relative;
  margin-top: 40px;
}

#game .startgame div {
  position: absolute;
}

#game .startgame div,
#game .midgame div {
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game .midgame div {
  width: calc(var(--width) * var(--sizeIncreaeFactor));
  height: calc(var(--width) * var(--sizeIncreaeFactor));
}

#game .startgame .paper,
#game .startgame .scissors {
  top: var(--position-top);
}

#game .startgame .paper {
  left: var(--position-x);
}

#game .startgame .scissors {
  right: var(--position-x);
  background: var(--Scissors-Gradient);
}

#game .startgame .rock {
  bottom: var(--position-bottom);
  background: var(--Rock-Gradient);
}

/* Rock Paper Scissors image */
/* Midgame */
#game .startgame div img,
#game .midgame div img {
  background-color: white;
  border-radius: 50%;
  padding: 30px;
  width: calc(var(--width) - var(--offset));
  height: calc(var(--width) - var(--offset));
}

#game .midgame div img {
  width: calc((var(--width) - var(--offset)) * var(--sizeIncreaeFactor));
  height: calc((var(--width) - var(--offset)) * var(--sizeIncreaeFactor));
}

.paper {
  background: var(--Paper-Gradient);
}

.scissors {
  background: var(--Scissors-Gradient);
}

.rock {
  background: var(--Rock-Gradient);
}

/* midgame grid structure */
.midgame {
  display: grid;
  grid-template-columns: 50% 0 50%;
  width: 45vw;
  min-width: 600px;
  grid-template-rows: 100px 400px;
  margin-top: -50px;
  color: white;
}

.midgame.active {
  min-width: 50vw;
  grid-template-columns: 33% 33% 33%;
}

.midgame div {
  margin: auto;
  font-size: 25px;
}

/* midgame result */
.midgame .show-result {
  display: flex;
  flex-direction: column;
}

/* small width change */
.midgame .show-result.active {
  grid-column: span 3;
}

.midgame .show-result p {
  font-size: 50px;
}

.midgame .show-result button {
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  letter-spacing: 0.2em;
}

/* Rules button */
.rules {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  padding: 10px 30px;
  background-color: transparent;
  border-color: white;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* Footer */
footer {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
}

.attribution {
  font-size: 13px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* For first page : startgame */
@media screen and (max-width: 700px) {

  #game .score-board {
    min-width: 550px;
  }

  .startgame,
  .midgame {
    min-width: 400px;
  }

  .startgame {
    height: 400px;
  }
}

@media screen and (max-width: 550px) {
  #game .score-board {
    min-width: 450px;
  }

  .rules {
    right: 3vw;
  }
}

@media screen and (max-width: 450px) {
  #game .score-board {
    min-width: 400px;
  }
}

/* for midgame */
@media screen and (max-width: 1300px) {
  .midgame {
    width: 60vw;
  }
}

@media screen and (max-width: 1130px) {
  .midgame {
    width: 70vw;
  }
}

@media screen and (max-width: 960px) {
  .midgame {
    width: 85vw;
  }
}

@media screen and (max-width: 800px) {
  .midgame {
    width: 95vw;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --sizeIncreaeFactor: 1.25;
  }
}

@media screen and (max-width: 650px) {
  .midgame {
    height: 100vh;
  }

  .midgame,
  .midgame.active {
    grid-template-columns: 50% 0 50%;
    grid-template-rows: 50px 400px;
  }

  .midgame.active .show-result.active {
    margin-top: -130px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --sizeIncreaeFactor: 1.1;
  }
}

@media screen and (max-width: 401px) {
  /* Change structure */
}