@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* General */
:root {
  /*background color*/
  --Radial-Gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  --Scissors-Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --Paper-Gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --Rock-Gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --Lizard-Gradient: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Cyan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

body,
#root {
  height: 100vh;
  width: 100vw;
  background: var(--Radial-Gradient);
}

#root {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

/* #root:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.3;
} */

/* Modal */
#modal,
#modal div:first-child,
#modal div:last-child {
  display: flex;
}

#modal {
  width: 350px;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#modal div:first-child {
  padding: 3px 0 25px 0;
}

#modal div:first-child,
#modal div:last-child {
  justify-content: space-between;
  align-items: center;
}

#modal div:first-child p {
  font-size: 30px;
  color: var(--Dark-Text);
  text-transform: uppercase;
  font-weight: 700;
}

#modal div:last-child img {
  width: 100%;
}

/* Game */
#game {
  display: flex;
  flex-direction: column;
}

#game div:first-child {
  display: flex;
  justify-content: space-between;
  border: 3px var(--Header-Outline) solid;
  border-radius: 25px;
  padding: 20px 25px;
  width: 50vw;
  min-width: 375px;
}

/* Score board */
#game .score-board {
  width: 18%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  min-width: 70px;
}

#game .score-board p:first-child {
  color: var(--Score-Text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: -5px;
}

#game .score-board p:last-child {
  color: var(--Dark-Text);
  font-size: 50px;
  font-weight: 700;
}

/* Footer */
footer {
  position: absolute;
  bottom: 5vh;
  left: 65vw;
  color: white;
}

.attribution {
  font-size: 13px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}