@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --Strong-cyan: hsl(172, 67%, 45%);

  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--Light-grayish-cyan);
  align-items: center;
  font-size: 24px;
}

h1 {
  margin: 50px auto 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: var(--Dark-grayish-cyan);
  width: 100px;
  word-wrap: break-word;
  line-height: 2rem;
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

/* button:hover {
  background: var(--Light-grayish-cyan);
  color: var(--Very-dark-cyan);
} */

/* main */
main {
  background: white;
  display: flex;
  width: 60vw;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  justify-content: space-evenly;
}

main h2 {
  opacity: 0;
  position: absolute;
  left: 45vw;
  top: -5px;
}

/* section */
section {
  flex: 1;
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section h3 {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

main section:last-child {
  background: var(--Very-dark-cyan);
  color: white;
}


/* section1 : input */
section#input div {
  margin-bottom: 1.5rem;
  position: relative;
}

section#input div img {
  position: absolute;
  top: 45px;
  left: 10px;
}

section#input label,
#tip-percent p {
  display: block;
  color: var(--Dark-grayish-cyan);
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

section#input input {
  border: 2px solid white;
  background: var(--Very-light-grayish-cyan);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  text-align: end;
  border-radius: 5px;
  color: var(--Very-dark-cyan);
}

section#input input::placeholder {
  color: var(--Grayish-cyan);
}

section#input input:focus {
  outline: none;
  border: 2px solid var(--Strong-cyan);
}

section#input input:invalid {
  border: 2px solid crimson;
}

#tip-percent {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  gap: 15px;
  height: 40%;
}

#tip-percent label {
  grid-column: 1 /4;
}

#tip-percent button {
  background: var(--Very-dark-cyan);
  font-size: 1.5rem;
  color: white;
}

#tip-percent button:hover,
#tip-percent button:focus {
  background: var(--Light-grayish-cyan);
  color: var(--Very-dark-cyan);
}

#tip-percent input {
  background: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
}

#tip-percent input:focus {
  border: 2px solid var(--Strong-cyan);
}

#tip-percent input::placeholder {
  text-align: center;
}


/* section 2 output */
section#output {
  padding: 30px 25px;
}

section#output div {
  padding: 0 10px;
}

section#output div:last-child {
  height: 40%;
  display: flex;
  align-items: flex-end;
}

section#output button {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--Strong-cyan);
}

section#output button:hover {
  background: hsl(171, 19%, 81%);
  color: var(--Very-dark-cyan);
}

/* section 2 article */
section#output article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#output article h4 {
  font-size: 1rem;
}

section#output article h4::after {
  content: '/ person';
  color: var(--Grayish-cyan);
  display: block;
}

section#output article p {
  font-size: 3rem;
  color: var(--Strong-cyan);
  margin: 0;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 1rem;
}



/*********** to hide arrows ***********/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/**************************************/

@media (max-width:1200px) {
  main {
    width: 65vw;
  }
}

@media (max-width:1050px) {
  main {
    width: 70vw;
  }
}

@media (max-width:970px) {
  main {
    width: 90vw;
  }
}

@media (max-width:700px) {
  section#output article p {
    font-size: 2.5rem;
  }
}

@media (max-width:660px) {
  main {
    flex-direction: column;
    width: 70vw;
    min-width: 320px;
  }

  footer {
    display: none;
  }
}

@media (max-width:500px) {
  main {
    width: 90vw;
  }

  #tip-percent {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 20%);
    height: 60%;
  }

  #tip-percent label {
    grid-column: 1 /3;
  }
}

@media (max-width:400px) {
  main {
    width: 100vw;
  }
}