@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* light theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue2: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue2: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue2: hsl(235, 19%, 35%);

  /* dark theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue--hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);

}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

body {
  background: var(--Very-Dark-Blue);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s all;
}

body.light {
  background: var(--Very-Light-Gray);
  transition: .3s all;
}

body::before {
  content: '';
  position: fixed;
  height: 40vh;
  background: url("./assets/images/bg-desktop-dark.jpg") center center /cover no-repeat;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* light theme colors*/
body.light::before {
  background: url("./assets/images/bg-desktop-light.jpg") center center /cover no-repeat;
}

/* header */
header {
  margin-top: 10vh;
  background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  color: white;
  align-items: center;
  width: 35vw;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: .6rem;
}

header .mode-change {
  cursor: pointer;
  font-size: 1.6rem;
}

header .mode-change:hover {
  scale: 1.1;
}

/* main */
main {
  margin-top: 5vh;
  background: transparent;
  padding: 0;
}

/* todo */
/* search bar */
.circle {
  width: 20px;
  height: 20px;
  border: 1px solid var(--Dark-Grayish-Blue);
  background-color: transparent;
  border-radius: 50%;
  transition: .3s all;
}

.circle svg {
  stroke: white;
}

/* light theme colors*/
body.light .circle {
  border: 1px solid var(--Light-Grayish-Blue2);
}

form {
  position: relative;
  margin-bottom: 3vh;
}

form input {
  background: var(--Very-Dark-Desaturated-Blue);
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  border: none;
  color: var(--Light-Grayish-Blue);
  width: 100%;
  border-radius: 3px;
  padding-left: 3rem;
  caret-color: var(--Bright-Blue);
}

/* light theme colors*/
body.light form input {
  background: var(--Very-Light-Grayish-Blue);
  color: var(--Very-Dark-Blue);
}

form input::placeholder {
  color: var(--Dark-Grayish-Blue);
}

form input:focus {
  outline: none;
}

form .circle {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

/* To do list */
#todo-list {
  background: var(--Very-Dark-Desaturated-Blue);
  border-radius: 3px;
  list-style-type: none;
  padding: 0;
}

#todo-list li {
  padding: 1.2rem;
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
  display: flex;
  align-items: center;
  color: var(--Light-Grayish-Blue);
  cursor: pointer;
  width: 100%;
  transition: .3s all;
}

#todo-list li:hover {
  color: var(--Light-Grayish-Blue--hover);
}

/* light theme colors*/
body.light #todo-list {
  background: var(--Very-Light-Grayish-Blue);
}

body.light #todo-list li {
  border-bottom-color: var(--Light-Grayish-Blue2);
  color: var(--Very-Dark-Blue);
}

body.light #todo-list li:hover {
  color: var(--Very-Dark-Desaturated-Blue);
}

/* circle icon */
#todo-list li .circle {
  margin-right: 1rem;
}

#todo-list li:hover .circle {
  border-color: var(--Check-Background);
  border-width: 1px;
}

/* completed todo item */
#todo-list li.completed {
  color: var(--Very-Dark-Grayish-Blue);
  text-decoration: line-through;
}

body.light #todo-list li.completed {
  color: var(--Dark-Grayish-Blue2);
}

#todo-list li.completed .circle {
  background: var(--Check-Background);
}

/* close icon */
#todo-list li .close-btn {
  margin-left: auto;
  display: none;
  cursor: pointer;
  box-sizing: content-box;
}

#todo-list li:hover .close-btn {
  display: block;
}

#todo-list li:hover .close-btn path {
  stroke: var(--Very-Dark-Grayish-Blue);
}

#todo-list li:hover .close-btn:hover path {
  stroke: var(--Dark-Grayish-Blue);
}

/* light theme colors*/
body.light #todo-list li:hover .close-btn path {
  stroke: var(--Dark-Grayish-Blue);
}

body.light #todo-list li:hover .close-btn:hover path {
  stroke: var(--Very-Dark-Grayish-Blue);
}

/* todo nav */
main nav {
  background: var(--Very-Dark-Desaturated-Blue);
  color: var(--Dark-Grayish-Blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  font-size: .8rem;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

main nav ul {
  list-style-type: none;
  display: flex;
}

main nav ul li {
  margin: 0 .5rem;
  cursor: pointer;
  transition: .3s all;
}

/* nav button */
main nav button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

main nav button:hover {
  color: var(--Light-Grayish-Blue);
}

main nav ul li button:focus {
  color: var(--Bright-Blue);
}

/* light theme colors*/
body.light main nav {
  background: var(--Very-Light-Grayish-Blue);
  color: var(--Dark-Grayish-Blue);
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3);
}

body.light main nav button:hover {
  color: var(--Very-Dark-Desaturated-Blue);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 3vh;
  right: 5vw;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body.light .attribution {
  color: var(--Very-Dark-Blue);
}