@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --Red: hsl(0, 100%, 68%);

  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);

  /* padding applied to header and main for x direction */
  --main-padding-x: 10vw;
  /* padding applied to main for y direction  */
  --main-padding-y: 10vh;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  overflow: hidden;
  text-transform: uppercase;
}

p {
  font-family: 'Barlow', sans-serif;
}

body::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
  background: var(--Light-Grayish-Blue);
  border-radius: 0 0 0 10rem;
  z-index: -1;
}

.btn {
  text-transform: uppercase;
}

@media (max-width: 21.875rem) {
  body {
    overflow: visible;
  }
}