@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);

  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}


* {
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 15px;
}

body {
  background: var(--Very-dark-blue-main-background);
  height: 100vh;
}

main {
  width: 85vw;
  flex-direction: column-reverse;
  background: var(--Dark-desaturated-blue-card-background);
  border-radius: 10px;
  overflow: hidden;
  max-width: 70rem;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  margin: 1.5rem auto 1rem;
}

h1 span {
  color: var(--Soft-violet-accent);
}

p {
  width: 95%;
  color: var(--Slightly-transparent-white-stat-headings);
  margin: 0 auto;
}

/* info */
#info {
  flex-direction: column;
}

#info div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#info div span:first-child {
  font-weight: 700;
  font-size: 1.5rem;
  /* margin-bottom: -3px; */
}

#info div span:last-child {
  color: var(--Slightly-transparent-white-stat-headings);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* image */
#image-body {
  background: url("./images/image-header-desktop.jpg") top center/ cover no-repeat;
  width: 90vw;
  height: 25vh;
  position: relative;
}

#image-body::before,
#image-body::after {
  content: '';
  position: absolute;
  background: rgb(170, 92, 219, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#image-body::before {
  background: rgb(9, 11, 26, 0.5);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  right: 5vw;
  bottom: 1vh;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 550px) {
  p {
    width: 75%;
  }
}

@media (min-width: 750px) {
  main {
    flex-direction: row;
  }

  main div {
    flex: 1;
  }

  #image-body {
    height: auto;
  }

  h1 {
    margin: 4rem 5rem 2rem 3rem;
    margin-right: 5rem;
    text-align: left;
  }

  p {
    text-align: left;
    margin-left: 3rem;
    width: 70%;
    margin-bottom: 3rem;
    line-height: 1.7rem;
  }

  #info {
    flex-direction: row;
    margin-bottom: 2rem;
    width: 80%;
    margin-left: 3rem;
  }

  #info div {
    text-align: left;
  }
}