@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  /* Accent */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);

  /* neutral  */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

p {
  color: var(--Very-Dark-Blue);
}

.container-fluid {
  padding: 0 5vw;
}

.fylo-btn {
  background: var(--Bright-Blue);
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.5rem 3rem;
  height: max-content;
  transition: 0.3s all linear;
}

.fylo-btn:hover {
  background: var(--Bright-Blue);
  color: #fff;
  opacity: 0.8;
}

@media (max-width: 48rem) {

  h1,
  h2 {
    text-align: center;
  }
}

@media (max-width: 31.25rem) {
  .container-fluid {
    padding: 0 7vw;
  }
}