header {
  padding: 1rem 0;
}

.navbar-nav {
  --bs-nav-link-hover-color: inherit;
  --bs-navbar-toggler-border-color: #fff;
}

header .nav-link {
  margin-left: 3rem;
}

header .nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border-color: #fff;
  background: #fff;
  border-width: 1px;
}

.navbar-toggler:hover {
  scale: 1.05;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}