.header {
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 5%;
}

.collapse {
  background: #fff;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.nav-item {
  font-weight: 500;
  margin: 1rem;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .collapse {
    background: transparent;
    padding: 0 1rem;
    margin: 0;
  }

  .navbar-nav {
    margin-left: auto;
    color: #fff;
    font-weight: 500;
  }


}