@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  --main-pad-x: 30vw;
  --main-pad-y: 10vh;
}

body {
  font-family: 'Karla', sans-serif;
  background: var(--Light-Gray);
  font-size: 16px;
  padding: var(--main-pad-y) var(--main-pad-x);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: inherit;
}

.row {
  box-shadow: 0 0 5px var(--Grayish-Blue);
}

/* layouts  */
.row>* {
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

.row .col-12 {
  width: 100%;
  background: #fff;
}

.row .col-md-6 {
  background: var(--Cyan);
  color: #fff;
}

.row .col-md-6:last-child {
  opacity: 0.8;
  padding-right: 7vh;
}

/* first structure  */
/* h1  */
.main-heading {
  color: var(--Cyan);
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.main-heading+p {
  color: var(--Bright-Yellow);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.main-heading+p+p {
  color: var(--Grayish-Blue);
}

/* section  */
/* second structure  */
.section-heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-heading+p {
  color: var(--Light-Gray);
  display: flex;
  align-items: center;
  margin: 0;
}

.section-heading+p span {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 1rem;
  color: #fff;
}

section .btn {
  background: var(--Bright-Yellow);
  font-weight: 700;
  padding: 0.7rem;
  margin-top: 1rem;
  box-shadow: 0 3px 3px var(--Cyan);
}

section .btn:hover {
  border: 1px solid var(--Bright-Yellow);
}

/* footer  */
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 2vh;
  right: 5vw;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 81.25rem) {
  body {
    padding: calc(var(--main-pad-y) - 5vh) calc(var(--main-pad-x) - 5vw);
  }
}

@media (max-width:68.75rem) {
  body {
    padding: 5rem calc(var(--main-pad-x) - 15vw);
  }
}

@media (max-width: 48rem) {
  body {
    display: block;
    padding: 5rem;
    height: auto;
  }

  .row>* {
    padding: 2rem;
  }

  .row .col-md-6:last-child p {
    width: 70%;
  }

  .attribution {
    display: none;
  }
}

@media (max-width:34.375rem) {
  body {
    padding: 3rem;
  }

  .row .col-md-6:last-child p {
    width: 100%;
  }
}

@media (max-width: 25rem) {

  body {
    padding: 4rem 2.5rem;
  }

  .row>* {
    padding: 1.5rem;
  }

  .main-heading {
    font-size: 1.5rem;
  }

  .main-heading+p {
    font-size: 1rem;
  }

  .main-heading+p+p {
    font-size: 0.85rem;
  }
}