/* main  */
/* front page  */
.outer-border {
  position: absolute;
  top: 25vh;
  left: 5%;
  border: 2px solid var(--Dark-Gray);
  right: 5%;
  color: #fff;
  padding: 1rem;
}

.main-heading {
  font-weight: 300;
  font-size: 2.6rem;
  text-transform: uppercase;
}

/* info section  */
.info-section {
  padding: 5rem 0 1.5rem;
  text-align: center;
}

.info-text {
  padding: 1.5rem;
}

/* feature section  */
.feature-section {
  text-align: center;
}

.feature-article {
  position: relative;
  margin-bottom: 1rem;
}

.article-heading {
  position: absolute;
  text-transform: uppercase;
  color: var(--Dark-Gray);
  top: 60%;
  text-align: left;
  margin-left: 1rem;
}

.feature-section .btn {
  text-transform: uppercase;
  border: 2px solid #000;
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  padding: .5rem 2rem;
  border-radius: .1rem;
  margin: 1rem auto 3rem;
  letter-spacing: 3px;
}

@media (min-width: 49rem) {
  .outer-border {
    left: 10%;
    border: 3px solid var(--Dark-Gray);
    right: 60%;
  }
}