header {
  z-index: 10;
  padding: 2rem var(--main-padding-x);
  font-weight: 700;
}

.nav-link {
  margin-right: 2rem;
  color: var(--Very-Dark-Blue);
}

.nav-link:hover {
  text-decoration: underline;
}

.header .btn {
  margin-left: 4rem;
  font-weight: inherit;
  color: var(--Grayish-Blue);
  border: none;
}

.header .btn:hover {
  text-decoration: underline;
}

/* navbar toggler button  */
.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0.3rem;
}

@media (max-width: 48rem) {
  header {
    padding: 1rem 5%;
  }

  .navbar-collapse {
    position: absolute;
    background: var(--Light-Grayish-Blue);
    top: 9vh;
    left: 20%;
    right: 20%;
    z-index: 100;
    box-shadow: 0 0 5px var(--Grayish-Blue);
    padding: 1rem;
    text-align: center;
  }

  .nav-link {
    margin: 0;
  }

  .navbar-collapse .btn {
    margin: 0;
    border-top: 1px solid var(--Grayish-Blue);
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 28rem) {
  .navbar-collapse {
    left: 5%;
    right: 5%;
  }
}