header {
  z-index: 10;
  padding: 2rem var(--main-padding-x);
  text-transform: uppercase;
  font-weight: 700;
}

.nav-link {
  margin-right: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.header .btn {
  margin-left: 4rem;
  font-weight: inherit;
}

.header .btn:hover {
  text-decoration: underline;
  color: var(--Grayish-Blue);
}