@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);

  /* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
}

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

/* Body */
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 1rem 0;
  /* overflow: hidden; */
}

#root {
  width: 100%;
  margin: 0;
}

/*******************************************************/
/* Header */
header {
  height: 10vh;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

header #logo {
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: 10vw;
}


/* Header:  navbar */
header nav {
  margin-left: 5vw;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  height: 10vh;
}

header nav ul li {
  margin-left: 1rem;
  color: var(--Grayish-blue);
  padding: 4vh 0;
  transition: all .3s linear;
  cursor: pointer;
}

header nav ul li:hover {
  color: black;
  border-bottom: 5px solid var(--Orange);
}

/* Header: info*/
header #info {
  margin: 0 10vw 0 5vw;
  position: relative;
}

header #info img:hover {
  cursor: pointer;
}

header #info #item-tooltip {
  position: absolute;
  background: var(--Orange);
  color: white;
  padding: 1px 7px;
  border-radius: 9px;
  font-size: .6rem;
  top: 1rem;
  left: 1.6rem;
}

header #avatar {
  width: 50px;
  padding: 3px;
  border-radius: 50%;
  transition: .3s all;
}

header #avatar:hover {
  background: var(--Orange);
}

/* Header : div (cart-items) */
header #cart-items {
  position: absolute;
  right: 10vw;
  top: 12vh;
  background: var(--White);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.332);
  min-width: 340px;
  min-height: 220px;
}

/* thumbnail image inside cart */
header #cart-items #quantity-info img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

header #cart-items #quantity-info img:last-of-type {
  width: 1rem;
  height: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

header #cart-items #quantity-info p {
  margin: 0;
  color: var(--Dark-grayish-blue);
}

#cart-items #checkout-btn {
  width: 100%;
}

/* Header: menu button */
#menu-btn {
  cursor: pointer;
  margin: auto 5vw;
  margin-right: 0;
  width: 20px;
  height: 20px;
}

/* Header: sidebar */
header #sidebar {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0;
}

header #sidebar img {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 30px;
  z-index: 101;
  cursor: pointer;
}

header #sidebar img:hover {
  scale: 1.1;
}

header #sidebar nav {
  background: white;
  position: absolute;
  top: 0;
  left: -10px;
  width: 60vw;
  bottom: 0;
}

header #sidebar nav ul {
  flex-direction: column;
}

header #sidebar nav ul li {
  margin-left: 1rem;
  color: var(--Very-dark-blue);
  padding: 1rem;
  font-weight: 700;
  border-bottom: 5px solid transparent;
}

header #sidebar nav ul li:hover {
  border-bottom: 5px solid var(--Orange);
}

/***************************************/

/***********************************************/
/* Main */
main section {
  width: 35%;
  margin: 0 1rem;
}

/* Main : section (image section) */
main section:first-of-type {
  min-width: 500px;
}

main section #main-img-holder {
  min-width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
}

main section #thumbnail-holder img {
  width: 100px;
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s all;
  border: 2px solid white;
}

main section #thumbnail-holder div {
  background-color: white;
  border-radius: 1rem;
}

main section #thumbnail-holder img:hover {
  opacity: 0.7;
}

main section #thumbnail-holder div.active img {
  border: 2px solid var(--Orange);
  opacity: 0.5;
}

/* Main : section (info section) */
main #info-section {}

main #info-section h2 {
  text-transform: uppercase;
  color: var(--Orange);
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 4px;
}

main #info-section h3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.8rem;
}

main #info-section p {
  color: var(--Dark-grayish-blue);
}

/* Main : section(info) > div */
#info-section #price-info p {
  font-weight: 700;
  color: var(--Grayish-blue);
}

#info-section #price-info p:first-child {
  color: var(--Black);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

#info-section #price-info span {
  font-size: 0.8rem;
  background: var(--Pale-orange);
  color: var(--Orange);
  border-radius: 4px;
}

/* Main : section(info) > div */
#info-section #shop-cart div:first-child,
#info-section #shop-cart div:nth-child(3) {
  cursor: pointer;
}

#info-section #shop-cart div:first-child:hover,
#info-section #shop-cart div:nth-child(3):hover {
  opacity: 0.8;
}

/* Add to cart and Checkout button */
#info-section #shop-cart button,
#checkout-btn {
  border: none;
  background: var(--Orange);
  padding: 13px 0;
  cursor: pointer;
  color: var(--White);
  border-radius: 8px;
  width: 65%;
  box-shadow: 0 5px 10px var(--Pale-orange);
}

#info-section #shop-cart button:hover,
#checkout-btn:hover {
  opacity: 0.8;
}

/*********************************/

/***********************************************/
/* Modal */
#modal {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  width: 100vw;
  left: 0;
}

#close-btn {
  z-index: 100;
  cursor: pointer;
  width: 30px;
  margin-left: 28vw;
  margin-bottom: 1vh;
}

#modal-image-holder {
  width: 30vw
}

#modal-image-holder img {
  cursor: default;
}

#close-btn:hover {
  scale: 1.1;
}

/*next and previous button*/
#modal-btn {
  position: absolute;
  top: 40vh;
  width: 33vw;
}

#modal-btn img {
  background: white;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

#modal-btn img:hover {
  scale: 1.1;
}

/* for media small width*/
#main-img-holder+#modal-btn {
  top: 30vh;
  width: 85vw;
  left: 7vw;
}

/*********************************/

/***********************************************/
/* Footer */
.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  right: 5vw;
  opacity: 0;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*********************************/


/********************************************************************/
/* Media query */

@media (max-width:1300px) {
  main section {
    width: 40%;
  }
}

@media (max-width:1260px) {
  main section {
    width: 45%;
  }
}

@media (max-width:1130px) {
  main section {
    width: 50%;
  }
}

@media (max-width:1050px) {
  #shop-cart {
    margin-top: 10px !important;
  }

  #price-info p {
    margin: 0;
  }
}

@media (max-width:1030px) {
  #info-section h3 {
    margin-bottom: 10px;
  }
}

@media (max-width:950px) {
  #info-section {
    padding: 10px !important;
  }
}

@media (max-width:850px) {
  main section:first-of-type {
    min-width: 300px;
  }

  main section #main-img-holder {
    min-width: 200px;
  }

  #thumbnail-holder {
    flex-wrap: wrap;
  }
}

@media (max-width:790px) {
  header #logo {
    margin-left: 3vw;
  }

  header nav {
    margin-left: 2vw;
  }

  header nav ul li {
    margin-left: 0.8rem;
  }
}


/*********/
@media (max-width: 650px) {

  body {
    overflow-x: hidden;
  }

  main section #main-img-holder {
    width: 110vw;
    cursor: default;
  }

  main section {
    width: 95%;
    padding: 0 10px;
  }

  #logo {
    flex: 1;
  }

  header #cart-items {
    right: 2vw;
    top: 12vh;
    z-index: 3;
  }


}


/**********************************/