@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);

  /* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
}

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
}

#root {
  width: 100%;
}

/* footer */
.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 5vh;
  right: 5vw;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}