@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/* general styles  */
:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);

  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
}

body {
  background-color: var(--Vary-Light-Gray);
  background: url("./assets/images/bg-simplify-section-desktop.svg") center center/cover;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Dark-Blue);
  font-weight: 700;
  text-align: center;
}

p {
  color: var(--Dark-Grayish-Blue);
}

/* h1  */
.main-heading {
  font-size: 2.5rem;
}

/* h2  */
.section-heading {
  font-size: 2rem;
}

/* h3  */
.article-heading {
  font-size: 1.1rem;
}

/* orange button  */
.btn-orange {
  background: var(--Bright-Red);
  padding: .5rem 1.5rem;
  height: fit-content;
  color: #fff;
  font-weight: 500;
  border-radius: 3rem;
  transition: .3s all linear;
  border: none;
}

.btn-orange:hover {
  background: var(--Bright-Red);
  color: #fff;
  opacity: .8;
  box-shadow: 0 1px 3px rgb(242, 95, 58, 0.7);
}