@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);

  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
}

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3 {
  color: var(--Very-Dark-Blue);
}

p {
  color: var(--Grayish-Blue);
}

/* header  */
.header {
  min-height: 10vh;
}

.navbar {
  width: 100%;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin: 0 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-item:hover {
  color: var(--Soft-Red);
}

.login-btn {
  background: var(--Soft-Red);
  color: #fff;
  padding: 0.4rem 2rem;
  margin-left: 1rem;
  font-weight: 500;
  transition: .3s all linear;
  text-transform: uppercase;
}

.login-btn:hover {
  color: var(--Soft-Red);
  border-color: var(--Soft-Red);
}

/* main  */
.container-fluid {
  padding: 1rem 10%;
}

/* home page  */
.home-page {
  padding-top: 5%;
}

.home-info-holder {
  padding: 5% 7.5% 5% 1%;
}

.home-info-holder p {
  margin: 2rem 0 1rem;
}

.home-page .btn-holder {
  margin-top: 2rem;
}

.home-page .btn {
  font-weight: 500;
  margin-right: 1rem;
  padding: .7rem 1.2rem;
  font-size: .9rem;
}

.chrome-btn {
  background: var(--Soft-Blue);
  color: #fff;
}

.chrome-btn:hover {
  border-color: var(--Soft-Blue);
  color: var(--Soft-Blue);
}

.firefox-btn {
  color: var(--Grayish-Blue);
}

.firefox-btn:hover {
  border-color: var(--Very-Dark-Blue);
  color: var(--Very-Dark-Blue);
}

/* front page image  */
.bg-illustration-holder {
  position: relative;
}

.bg-illustration {
  background: var(--Soft-Blue);
  border-radius: 50% 0 0 50%;
  width: 100%;
  height: 75%;
  position: absolute;
  z-index: -1;
  top: 30%;
  left: 30%;
}

/* feature section  */
.feature-section {
  padding: 6% 0;
}

/* feature-section , download-section  */
.info-holder {
  text-align: center;
}

.info-holder p {
  width: 40%;
  margin: 1rem auto 2rem;
}

/* feature section articles  */
.tag-holder {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.tag-items {
  margin: 0 3% 3%;
  padding: 1.2rem 1.5rem;
  font-weight: 500;
  color: var(--Grayish-Blue);
  border-bottom: 3px solid transparent;
}

.tag-items.active {
  color: var(--Very-Dark-Blue);
  border-bottom: 3px solid var(--Soft-Red);
}

.article-info {
  order: 2;
  padding: 5% 8%;
}

.feature-section .article-info p {
  margin: 1rem 0 1.5rem;
}

.feature-section .article-info .btn {
  background: var(--Soft-Blue);
  color: #fff;
}

.article-img {
  order: 1;
}

.feature-section .bg-illustration {
  border-radius: 0 50% 15rem 0;
  left: -30%;
  height: 100%;
}

/* download section  */
.download-section {
  padding: 6% 0;
}

.download-section article {
  text-align: center;
}

.card-holder .chrome-btn {
  padding: .5rem 2rem;
  margin-top: 1.5rem;
}

.card-1 {
  padding-top: 4%;
}

.card-2 {
  padding-top: 8%;
}

/* faq section  */
.faq-holder {
  padding: 1% 20%;
  list-style-type: none;
  margin: auto;
  margin-top: 1rem;
}

.faq-item {
  border-top: 1px solid var(--Grayish-Blue);
  padding: 3% 0;
  transition: all .4s linear;
}

.faq-item:last-of-type {
  border-bottom: 1px solid var(--Grayish-Blue);
}

.faq-item .question {
  font-size: 1.1rem;
  cursor: pointer;
  transition: inherit;
}

.faq-item .question:hover {
  color: var(--Soft-Red);
}

.faq-item .answer {
  transition: inherit;
  padding: 0;
}

.faq-item .answer-text {
  display: inline-block;
  transition: inherit;
  margin: 3.5% 0 1%;
  color: var(--Grayish-Blue);
}

.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon.down {
  rotate: 180deg;
}

.faq-section .btn-holder {
  display: flex;
  justify-content: center;
}

.faq-section .chrome-btn {
  margin: 1.5rem auto;
}

/* contact form section  */
.contact-form {
  margin-top: 5%;
}

.contact-form .container-fluid {
  background: var(--Soft-Blue);
  text-align: center;
  color: #fff;
  padding: 5% 10%;
}

.contact-form h2,
.contact-form p {
  color: inherit;
}

.contact-form h2 {
  width: 35%;
  margin: 1rem auto 3rem;
  order: 2;
}

.contact-form p {
  order: 1;
  letter-spacing: .4rem;
  text-transform: uppercase;
  word-spacing: .6rem;
}

.contact-form form {
  width: 70%;
  margin: auto;
  order: 3;
}

.email-input-holder {
  position: relative;
}

.email-input-holder input {
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
}

.email-input-holder input:focus {
  outline: none;
}

.error-icon {
  position: absolute;
  right: 5%;
  top: 25%;
  display: none;
}

.error-message {
  position: absolute;
  background: var(--Soft-Red);
  bottom: -50%;
  left: 2%;
  right: 2%;
  padding: 1% 2.5%;
  border-radius: 0 0 .5rem .5rem;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  display: none;
}

.contact-form .login-btn:hover {
  background-color: #fff;
}

/* footer  */
.footer .container-fluid {
  background: var(--Very-Dark-Blue);
  color: #fff;
  padding: 3% 10%;
}

.footer .link-holder {
  list-style-type: none;
}

.link-item {
  cursor: pointer;
}

.link-item:hover {
  color: var(--Soft-Red);
}

.icon-cover {
  transition: .3s all linear;
}

.icon-cover:hover {
  scale: 1.1;
  cursor: pointer;
}

@media (max-width: 768px) {

  /* header  */
  .navbar-collapse {
    position: absolute;
    top: -1rem;
    left: -5rem;
    right: -5rem;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding-top: 3rem;
    z-index: 10;
  }

  .navbar-collapse::before {
    background: var(--Very-Dark-Blue);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
  }

  .navbar-collapse .nav-item {
    border-top: 1px solid var(--Grayish-Blue);
    border-bottom: 1px solid var(--Grayish-Blue);
    padding: 1rem 0;
  }

  .navbar-collapse .login-btn {
    background: transparent;
    border: 1px solid #fff;
    width: auto;
    margin-top: 2rem;
  }

  .navbar-collapse .close-icon {
    margin-bottom: 3rem;
    cursor: pointer;
  }

  .navbar-collapse .close-icon:hover {
    scale: 1.05;
  }

  /* footer  */
  .footer {
    text-align: center;
  }

  .footer .navbar-brand {
    margin-top: 1rem;
  }

  .link-holder {
    margin: 3% auto;
  }

  .icon-holder {
    margin: 1rem auto;
  }
}