/* front page  */
.front-page {
  color: var(--Very-Light-Gray);
}

.front-background {
  position: absolute;
  width: 100%;
  height: 80%;
  background: var(--Dark-Violet);
  left: 0;
  top: 0;
  z-index: -1;
}

.front-background::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 1px;
  background: var(--Very-Light-Gray);
  top: 25%;
  left: 12.5%;
}

.front-page-text {
  padding-top: 7rem;
}

.main-heading {
  font-size: 3.5rem;
  width: 90%;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.front-page-img {
  padding-top: 5rem;
}

.front-page .btn {
  background: transparent;
  color: var(--Very-Light-Gray);
  border: 1px solid var(--Very-Light-Gray);
  border-radius: 0;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}

.front-page .btn:hover {
  background: var(--Very-Light-Gray);
  color: var(--Dark-Violet);
}

/* feature section  */
.feature-section {
  padding: 10vh 0 0;
}

.feature-section h2 {
  margin-bottom: 3rem;
}

/* article  */
.feature-section .card {
  border: none;
}

.article-img-holder {
  margin-bottom: 1rem;
}

/* detail view section  */
.detail-info-section {
  padding: 10vh 5vw;
  background: var(--Dark-Violet);
  color: var(--Very-Light-Gray);
  margin: 10vh 0;
}

.detail-info-section h2 {
  width: 43%;
}

.detail-info-section .btn {
  background: transparent;
  border: 1px solid var(--Very-Light-Gray);
  color: var(--Very-Light-Gray);
  border-radius: 0;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.detail-info-section .btn:hover {
  background: var(--Very-Light-Gray);
  color: var(--Very-Dark-Violet);
}

@media (max-width:72rem) {

  /* front page  */
  .main-heading {
    font-size: 3rem;
  }

  .section-heading {
    font-size: 2.5rem;
  }

  .front-page .btn {
    margin-top: 1rem;
  }
}

@media (max-width:55rem) {

  /* front page  */
  .front-page-text {
    padding-top: 4rem;
  }

  .front-background::before {
    width: 15%;
    top: 23%;
  }
}

@media (max-width:48rem) {

  /* front page  */
  .main-heading {
    width: 100%;
  }

  .front-page-text {
    order: 2;
    background: var(--Dark-Violet);
    padding: 4rem;
  }

  .front-background {
    display: none;
  }

  .front-background::before {
    display: none;
  }

  .front-page-img {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }

  .front-page-img img {
    margin: auto;
  }

  /* feature section  */
  .card {
    padding: 0 4rem;
    margin-bottom: 1.5rem;
  }

  .article-img-holder img {
    margin: auto;
  }

  /* detail info section  */
  .detail-info-section {
    margin: 10vh 0;
    padding: 10vh 4rem;
    flex-direction: column;
  }

  .detail-info-section h2 {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 23.75rem) {
  .main-heading {
    font-size: 2.75rem;
  }
}

@media (max-width:23rem) {
  .front-page-text {
    padding: 2rem;
  }

  /* feature section  */
  .card {
    padding: 0 2rem;
  }

  /* detail-info-section */
  .detail-info-section {
    padding: 10vh 2rem;
  }
}