.footer {
  padding: 3rem 1rem;
  background: #000;
  text-align: center;
  color: #fff;
}

/* footer logo  */
.logo-holder img {
  margin: auto;
  margin-bottom: 1.5rem;
}

/* footer items  */
.nav-link {
  font-weight: 700;
  margin-top: .3rem;
}

/* footer icons  */
.footer-icons {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 1rem;
}

.footer-icons img {
  margin: 0 .5rem;
  transition: .3s all linear;
}

.footer-icons img:hover {
  scale: 1.05;
}

@media (min-width: 49rem) {
  .footer {
    display: flex;
    padding: 5% 10%;
  }

  .footer-part {
    width: 50%;
    text-align: left;
  }

  .footer-part:last-of-type {
    text-align: right;
  }

  .footer .navbar-nav {
    flex-direction: row;
  }

  .footer .nav-link {
    padding: 0;
    margin: 0;
    margin-right: 1rem;
  }

  .logo-holder img,
  .footer-icons {
    margin: 0;
    margin-bottom: 2rem;
  }

  .footer-icons {
    justify-content: end;
  }
}