@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 110px 15px 50px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 15px;
  background: white;
}

header img {
  height: 100%;
}

/* main */
main {}

main img {
  width: 100%;
}

/* section1 : Home section */
main section#home {
  display: flex;
  flex-direction: column-reverse;
}

main #home h2 {
  font-size: 45px;
  font-weight: 800;
  margin: 25px 0;
}

main #home p {
  line-height: 1.5rem;
  margin: 25px 0;
  color: var(--Dark-grayish-blue);
}

main #home img {
  height: 45vh;
}

main #home button {
  padding: 15px 40px;
  background: var(--Soft-red);
  border: none;
  color: var(--Off-white);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
}

main #home button:hover {
  background: var(--Very-dark-blue);
}

/* section2 : New section */
main section#new {
  margin: 50px 0;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  padding: 25px;
}

#new h2 {
  color: var(--Soft-orange);
  margin-bottom: 25px;
  font-size: 2rem;
}

/* section2 > article */
#new article {
  border-bottom: var(--Dark-grayish-blue) 1px solid;
  padding-bottom: 25px;
  margin: 25px 0;
}

#new article:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#new article h3 {
  margin-bottom: 15px;
}

#new article p {
  color: var(--Grayish-blue);
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* section3 : category section */
main section#category {
  position: relative;
}

#category h2 {
  opacity: 0;
  position: absolute;
}

#category {
  display: flex;
  flex-direction: column;
}

#category article {
  display: flex;
  flex-direction: row-reverse;
}


/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  opacity: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}