footer {
  background: var(--footer-background);
  padding: 5vh var(--content-main-padding);
  width: 100%;
}

/* logo  */
.footer-logo {
  width: 3rem;
}

/* nav links  */
.footer-link {
  flex-wrap: wrap;
  margin-left: 3rem;
}

.footer-nav-link {
  margin-right: 4rem;
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 0.5rem;
}

.footer-nav-link:hover {
  color: var(--Strong-Cyan);
}

/* icons  */
.footer-icons img {
  margin-left: 1rem;
}

.footer-icons img:hover {
  scale: 1.1;
}