.main-heading {
  color: var(--Very-Dark-Desaturated-Violet);
}

/* background strip  */
.back-strip {
  background: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  height: 70vh;
  border-radius: 0 0 25rem 0;
}

/* main content  */



/* chat illustration  card*/
.illustration-box {
  position: absolute;
  border: 0.7rem solid var(--White);
  border-radius: 2rem;
  background: var(--Light-Grayish-Violet);
  width: 80%;
  max-width: 22rem;
  left: 10%;
  top: 10%;
}

/* card head  */
.card-head {
  background: linear-gradient(-75deg, var(--Light-Magenta), var(--Light-Violet));
  border-radius: 1.5rem 1.5rem .5rem .5rem;
  position: relative;
  padding: 2rem 0 1rem;
}

.card-head::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  background: #fff;
  width: 60%;
  height: 1.5rem;
  border-radius: 0 0 1rem 1rem;
}

/* author info  */
.name {
  color: var(--Pale-Violet);
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
}

.name+p {
  font-size: .75rem;
}

.author-img {
  background: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: .1rem;
  margin-right: .5rem;
}

.author-img img {
  border-radius: 50%;
}

/* icons  */
.back-arrow-icon,
.option-menu-icon {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
  padding: .5rem;
}