/* top section  */
.front-page {
  padding: 1rem;
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  text-align: center;
  color: var(--Pale-blue);
  border-radius: 0 0 2rem 2rem;
}

.main-heading {
  font-size: 1rem;
}

.final-score {
  border-radius: 50%;
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  width: fit-content;
  margin: 1rem auto;
  padding: 1.2rem 2.5rem;
}

.final-score span {
  font-size: 3rem;
  color: var(--White);
  color: #fff;
  font-weight: 800;
}

.final-score p {
  margin: 0;
  color: var(--Light-lavender);
  font-size: .9rem;
}

.msg-box span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.msg-box p {
  color: var(--Light-lavender);
  line-height: 1.3rem;
  margin-top: .5rem;
}

/* bottom section  */
.score-section {
  padding: 1rem 2rem;
}

.section-heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.card {
  padding: .8rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--Very-Light-red);
  border: none;
}

.card img {
  margin-right: .7rem;
}

.card p {
  margin: 0;
}

.score {
  font-weight: 700;
}

.score::after {
  content: " /100";
  color: var(--Dark-gray-blue-1);
}

/* category diff colors  */
.cat-reaction {
  color: var(--Light-red);
}

.cat-memory {
  color: var(--Orangey-yellow);
}

.cat-verbal {
  color: var(--Green-teal);
}

.cat-visual {
  color: var(--Cobalt-blue);
}

.score-section .btn {
  background: var(--Dark-gray-blue);
  color: #fff;
  border-radius: 2rem;
  padding: .8rem;
}