@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 18px;
}

body,
main {
  height: 100vh;
  width: 100vw;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}

/* in case of wrong ip address */
main.error::before {
  content: 'Error: Wrong IP address';
  padding: 30px;
  background: white;
  position: absolute;
  top: 50vh;
  left: 50vw;
  color: crimson;
  border-radius: 10px;
  z-index: 20;
  transform: translate(-50%, -50%);
}

main.error::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 15;
  top: 0;
  left: 0;
}

h1 {
  color: white;
  font-weight: 500;
}

/* background strip image */
.background {
  background: url('./assets/images/pattern-bg.png');
  width: 100vw;
  position: absolute;
  z-index: -1;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}

/* form */
main form {
  margin: 20px 0 30px;
  display: flex;
  align-items: center;
}

input {
  width: 35vw;
  min-width: 250px;
  padding: 15px;
  border-radius: 9px 0 0 9px;
  background: white;
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  background: var(--Very-Dark-Gray);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  padding: 0.6rem 1rem;
  border: 1px solid var(--Very-Dark-Gray);
  border-radius: 0 9px 9px 0;
}

button:hover {
  background: var(--Dark-Gray);
  border: 1px solid var(--Dark-Gray);
}

/* grid ip-info */
.ip-info {
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 18vw);
  grid-template-rows: 21vh;
  box-shadow: 0 0 3px 0 rgb(50, 89, 146);
  border-radius: 14px;
  z-index: 5;
  padding-bottom: 10px;
}

.ip-info article {
  padding: 25px 20px;
}

article h3 {
  color: var(--Dark-Gray);
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

article p {
  font-weight: 500;
  font-size: 1.45rem;
  margin-top: 10px;
}

/* map */
.leaflet-container {
  height: 65vh;
  width: 100vw;
  position: absolute;
  top: 35vh;
  left: 0;
  z-index: 3;
}

/* footer */
footer {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  opacity: 0;
}

@media screen and (max-width: 1250px) {
  .ip-info {
    grid-template-columns: repeat(4, 23vw);
    grid-template-rows: 20vh;
  }
}

@media screen and (max-width: 850px) {
  article p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 720px) {
  .ip-info {
    grid-template-columns: repeat(2, 43vw);
    grid-template-rows: repeat(2, 15vh);
  }
}

@media screen and (max-width: 510px) {
  .ip-info {
    grid-template-columns: repeat(1, 80vw);
    grid-template-rows: repeat(4, 10vh);
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  main {
    padding-top: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}