.header {
  background: var(--Very-Light-Gray);
  padding: 0.8rem 0;
  text-transform: uppercase;
  color: var(--Dark-Grayish-Violet);
  z-index: 100;
}

.navbar-collapse {
  flex-grow: 0;
}

.header .nav-link {
  color: inherit;
  margin-left: 1rem;
}

.header .nav-link:hover {
  color: var(--Dark-Violet);
}

.header .btn {
  background: var(--Very-Dark-Violet);
  border-radius: 0;
  color: var(--Very-Light-Gray);
  margin-left: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: inherit
}

.header .btn:hover {
  background: transparent;
  color: var(--Very-Dark-Violet);
  border: 1px solid var(--Very-Dark-Violet);
}

@media (max-width:48rem) {
  .navbar {
    --bs-navbar-padding-y: 0;
  }

  .header {
    padding: 0;
  }

  .pad-area {
    width: 100%;
    padding: 1rem 4rem;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    outline: none;
    border: none;
    padding: 0;
    box-shadow: none;
  }

  .navbar-collapse {
    background: var(--Very-Dark-Violet);
    padding: 3rem 2rem;
    padding-bottom: 30vh;
    font-weight: 700;
    color: var(--Very-Light-Gray);
  }

  .navbar-collapse .nav-link {
    margin: 0;
  }

  .navbar-collapse .nav-link:hover {
    color: var(--Dark-Grayish-Violet);
  }

  .navbar-collapse .btn {
    border: 1px solid var(--Very-Light-Gray);
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }

  .navbar-collapse .btn:hover {
    background: var(--Very-Light-Gray);
    color: var(--Very-Dark-Violet);
  }
}

@media (max-width: 24rem) {
  .pad-area {
    padding: 1rem 2rem;
  }
}