.header {
  background: var(--Very-Light-Gray);
  padding: 0.8rem 0;
  text-transform: uppercase;
  color: var(--Dark-Grayish-Violet);
}

.navbar-collapse {
  flex-grow: 0;
}

.header .nav-link {
  color: inherit;
  margin-left: 1rem;
}

.header .nav-link:hover {
  color: var(--Dark-Violet);
}

.header .btn {
  background: var(--Very-Dark-Violet);
  border-radius: 0;
  color: var(--Very-Light-Gray);
  margin-left: 1.5rem;
  padding: 0.5rem 1.5rem;
}

.header .btn:hover {
  background: transparent;
  color: var(--Very-Dark-Violet);
  border: 1px solid var(--Very-Dark-Violet);
}