@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* CTA text */
  --Light-red: hsl(356, 100%, 66%);
  /* CTA hover background */
  --Very-light-red1: hsl(355, 100%, 74%);
  /* headings */
  --Very-dark-blue: hsl(208, 49%, 24%);
  /* text colors  */
  --White: hsl(0, 0%, 100%);
  /* footer text */
  --Grayish-blue: hsl(240, 2%, 79%);
  /* body copy */
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* footer background */
  --Very-dark-black-blue: hsl(240, 10%, 16%);
  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red2: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);
  /* Background gradient - body:  */
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* navbar and front page buttons  */
.btn-holder button {
  border-radius: 2rem;
  padding: .5rem 2rem;
  transition: .3s all linear;
}

/* footer  */
footer {
  background: var(--Very-dark-black-blue);
  border-radius: 0 5% 0 0;
  padding: 5rem 8rem;
  border-radius: 0 10rem 0 0;
}

.hidden-heading {
  display: none;
  position: absolute;
}

/* header  */

header {
  padding: 1rem 10%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* navbar  */
.navbar-brand {
  margin-right: 5%;
  cursor: pointer;
}

.navbar-toggler {
  padding: .5rem;
  width: 3rem;
  height: 3rem;
}

.navbar-toggler img {
  transition: .3s all linear;
}

/* dropdown menus */
.dropdown-toggle {
  color: inherit;
  margin: 0 .8rem;
  text-decoration: none;
}

.dropdown-toggle:hover {
  color: white;
  text-decoration: underline;
}

.dropdown-menu {
  padding: 1rem;
}

.dropdown-item {
  color: var(--Very-dark-grayish-blue);
  cursor: pointer;
  transition: .3s all ease;
}

.dropdown-item:hover {
  color: #000;
}

/* navbar buttons  */
.navbar .btn-holder {
  margin-left: auto;
}

.navbar .btn-holder .btn {
  margin: 0 .3rem;
}

.login-btn {
  color: #fff;
}

.login-btn:hover {
  border: 1px solid;
}

.signin-btn {
  background: #fff;
  color: var(--Light-red);
}

.signin-btn:hover {
  background: var(--Very-light-red1);
  color: #fff;
}


/* main */
/* front page  */
.front-page {
  text-align: center;
  padding: 11rem 10rem 10rem;
}

.big-heading {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}

.front-tagline {
  margin: 1rem auto 2.5rem;
}

/* front page buttons  */
.front-page .btn-holder button {
  padding: .6rem 1rem;
  font-weight: bold;
  margin: 0 .5rem;
  transition: .3s all linear;
}

.start-btn {
  border: none;
  color: var(--Light-red);
  border: #fff solid 1px;
}

.start-btn:hover {
  color: #fff;
  background: var(--Very-light-red1);
}

.learn-btn {
  background: transparent;
  color: #fff;
  border: #fff solid 1px;
}

.learn-btn:hover {
  color: var(--Light-red);
  background: #fff;
}

/* front main image  */
.front-page-image {
  background: linear-gradient(75deg, var(--Very-light-red2), var(--Light-red));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80vh;
  z-index: -1;
  border-radius: 0 0 0 15%;
}

.front-page-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

/* section1 intro section  */
#intro-section {
  padding: 5%;
  padding-right: 0;
  min-height: 100vh;
  color: var(--Very-dark-grayish-blue);
}

.intro-section-heading {
  text-align: center;
  margin-top: 3rem;
  color: var(--Very-dark-blue);
}

/* intro article  */
.intro-article {
  padding: 7% 14%;
  padding-bottom: 0;
}

.article-heading {
  color: var(--Very-dark-blue);
  margin-bottom: 1rem;
}

/* intro section image*/
.section-image {
  height: 100vh;
  padding-left: 30%;
}

.section-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  margin: -10% -9%;
}

/* feature section  */
.feature-section-wrapper {
  background: linear-gradient(var(--Very-dark-desaturated-blue), var(--Very-dark-gray-blue));
  border-radius: 0 10rem;
  height: 50vh;
  margin-bottom: 5%;
}

.feature-section-heading {
  margin: 6rem 0 2rem;
}

#feature-section p {
  width: 70%;
  color: var(--Grayish-blue);
}

/* feature section image */
.feature-section-image img {
  margin-top: -8%;
}

/* section 3 cost  */
#cost-section {
  margin-top: 15%;
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 5%;
}

#cost-section article {
  margin-bottom: 5rem;
}

#cost-section p {
  width: 70%;
}

#cost-section .section-image {
  margin-right: 0;
  margin-left: -50%;
}


/* footer */
.footer-items {
  padding: 0;
}

.footer-items ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1.4rem;
}

.footer-items ul li {
  color: var(--Grayish-blue);
  font-size: .9rem;
  margin-bottom: .5rem;
  transition: .3s all linear;
}

.footer-items ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* attribution  */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 500vh;
  right: 10vw;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 860px) {
  header {
    padding-right: 3%;
  }

  .navbar-brand {
    margin-right: 3%;
  }

  .front-page {
    padding: 8rem 4rem;
  }
}

@media (max-width: 767px) {

  /* navbar hamburger menu  */
  .navbar-collapse {
    background: #fff;
    position: absolute;
    top: 5rem;
    left: 5%;
    right: 5%;
    border-radius: .3rem;
    text-align: center;
    padding: 2rem;
  }

  .dropdown {
    margin: auto;
    padding: 1rem;
  }

  .dropdown-toggle {
    color: var(--Very-dark-black-blue);
    margin: auto;
  }

  .dropdown-toggle:hover {
    color: var(--Very-dark-grayish-blue);
  }

  .navbar .btn {
    display: block;
    margin: 1rem auto;
  }

  .login-btn {
    color: var(--Very-dark-blue);
    border: 1px solid transparent;
  }

  .login-btn:hover {
    color: var(--Very-dark-black-blue);
    border: 1px solid var(--Very-dark-grayish-blue);
  }

  .signin-btn {
    background: var(--Very-light-red1);
    color: #fff;
  }

  .signin-btn:hover {
    background: #fff;
    color: var(--Light-red);
    border: 1px solid var(--Light-red);
  }

  /* intro section  */
  .section-image-holder {
    order: 1;
  }

  .section-articles {
    order: 2;
  }

  .section-image {
    padding: 0;
  }

  .section-image img {
    margin: 5%;
    height: 80%;
    width: 80%;
    margin-bottom: 1%;
  }

  /* feature section  */
  #feature-section {
    text-align: center;
    padding: .5rem;
  }

  .feature-section-wrapper {
    height: 85vh;
    margin-top: 25%;
    border-radius: 0 25%;
    padding: 1rem;
  }

  .feature-section-heading {
    margin-top: -25%;
    margin-bottom: 1rem;
  }

  #feature-section p {
    width: 100%;
    margin: auto;
  }

  .feature-section-image img {
    margin-top: -25%;
    width: 100vw;
    height: 100%;
  }

  /* cost section  */
  #cost-section {
    text-align: center;
  }

  #cost-section article {
    margin: 0;
    margin-bottom: 3rem;
  }

  #cost-section p {
    margin: auto;
    width: 80%;
  }

  #cost-section .section-image {
    margin: 0;
  }

  /* footer  */
  footer {
    text-align: center;
  }

  .footer-items {
    margin-bottom: 2rem;
  }

  .footer-items:nth-child(1) {
    margin-bottom: 3rem;
  }

}

@media (max-width: 500px) {
  .front-page {
    padding: 8rem 1rem;
  }
}

@media (max-width: 400px) {
  p {
    width: 100%;
  }
}