@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url("./images/bg-desktop.svg") no-repeat;
  background-color: var(--Violet);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container-fluid {
  padding: 0 10vw;
}

/* header  */
header {
  padding: 5vh 0;
}

/* main  */
main {
  padding: 5vh 0;
}

main .order-2 {
  /* padding: 5vh 5vw; */
  padding-left: 3vw;
  min-height: 50vh;
}

main p {
  margin: 2rem 0;
}

main .btn {
  background: #fff;
  padding: 0.7rem 4rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px var(--Violet);
}

main .btn:hover {
  background: var(--Soft-Magenta);
  box-shadow: 1px 1px 10px var(--Violet);
  color: #fff;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.fa {
  margin-left: 1rem;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 50%;
}

.fa-facebook {
  padding: 1rem 1.2rem;
}

.fa-instagram {
  padding: 0.9rem 1rem;
}

.fa:hover {
  color: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}

/* footer  */
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0.5vh;
  right: 5vw;
}

.attribution a {
  color: hsl(96, 48%, 88%);
}

@media (max-width:49rem) {
  .main-img {
    margin-bottom: 3rem;
  }

  main .order-2 {
    min-height: max-content;
  }

  .icons {
    margin: 1rem 0;
    margin-top: 3rem;
  }

  .attribution {
    display: none;
  }
}

@media (max-width:31.25rem) {
  body {
    text-align: center;
  }

  header img {
    width: 13rem;
  }

  .container-fluid {
    padding: 0 7vw;
  }

  main {
    padding: 1rem 0;
  }

  .icons {
    justify-content: center;
  }
}