@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  /* primary  */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* gradient  */
  /* (background)  */
  --Light-slate-blue: hsl(252, 100%, 67%);
  /* (background)  */
  --Light-royal-blue: hsl(241, 81%, 54%);
  /* (circle)  */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  /* (circle) */
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* neutral  */
  --White: hsl(0, 0, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* different shade for background  */
  --Dark-gray-blue-1: hsla(224, 30%, 27%, 0.5);
  --Light-red-bg: hsla(0, 100%, 97%, 0.9);
  --Orangey-yellow-bg: hsla(39, 100%, 97%, 0.9);
  --Green-teal-bg: hsla(166, 100%, 97%, 0.9);
  --Cobalt-blue-bg: hsla(234, 85%, 97%, 0.9);
  --Light-slate-blue-bs: hsl(251, 100%, 96%);
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

p {
  font-size: 18px;
}