@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-and--Light-mode-Elements: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  color: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  background: var(--Dark-Blue-Dark-Mode-Elements);
  box-shadow: 1px 0 1px black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

header h1 {
  font-size: 1.5rem;
}

header i {
  margin-right: 5px;
  transform: rotate(-30deg);
}