@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-and--Light-mode-Elements: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
  color: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  padding-top: 10vh;
  width: 100vw;
  transition: .3s all;
  overflow-x: hidden;
}

body.light {
  background: var(--Very-Light-Gray-Light-Mode-Background);
  color: var(--Very-Dark-Blue-Light-Mode-Text);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  color: inherit;
  background: var(--Dark-Blue-Dark-Mode-Elements);
  box-shadow: 1px 0 1px black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}

body.light header {
  /* color: inherit; */
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
}

header h1 {
  font-size: 1.5rem;
  cursor: pointer;
}

header .mode {
  cursor: pointer;
  font-weight: 800;
  white-space: nowrap;
}

header i {
  margin-right: 10px;
  transform: rotate(-30deg);
  transition: .3s all;
  color: inherit;
}

/* main */
main {
  width: 100vw;
  padding: 1rem 10px;
}

/* main form */
body main form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0 6rem 0 5rem;
}

input,
nav {
  background: var(--Dark-Blue-Dark-Mode-Elements);
  border: none;
  padding: 1rem 1.2rem;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 3px var(--Very-Dark-Blue-Light-Mode-Text);
}

body.light input,
body.light nav {
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  box-shadow: 0 0 3px var(--Dark-Gray-Light-Mode-Input);
}

input {
  width: 500px;
  margin-right: 10px;

}

nav {
  width: 200px;
  position: relative;
  transition: .3s all;
  white-space: nowrap;
}

nav i {
  margin-left: 10px;
  transition: .3s all;
}

/* navbar */
nav .nav-bar {
  height: 0;
  display: none;
  transition: .3s all;
}

nav.active .nav-bar {
  display: block;
  height: auto;
  position: absolute;
  background: var(--Dark-Blue-Dark-Mode-Elements);
  width: 200px;
  top: 60px;
  left: 0;
  border-radius: 5px;
  padding: 10px 0;
}

body.light nav.active .nav-bar {
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  box-shadow: 0 0 3px var(--Dark-Gray-Light-Mode-Input);
}

.navbar ul {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-bar ul li {
  list-style-type: none;
  padding: 10px;
  transition: .3s all;
  width: 100%;
  cursor: pointer;
  margin-left: -20px;
  border-radius: 4px;
}

.nav-bar ul li:hover {
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
}

body.light .nav-bar ul li:hover {
  background: var(--Dark-Gray-Light-Mode-Input);
  color: var(--Very-Dark-Blue-Light-Mode-Text);
}


input:focus,
nav:focus {
  outline: none;
}

input::placeholder {
  color: inherit;
}

main h2,
section h3 {
  visibility: hidden;
  position: absolute;
}

/* main section*/
main section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 5rem;
  flex-wrap: wrap;
}

section article {
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin: 1rem 1rem 2rem 0;
  overflow: hidden;
  border-radius: 10px;
  padding: 0;
  background: var(--Dark-Blue-Dark-Mode-Elements);
  padding-bottom: 15px;
  box-shadow: 0 0 3px var(--Very-Dark-Blue-Light-Mode-Text);
}

body.light section article {
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  box-shadow: 0 0 3px var(--Dark-Gray-Light-Mode-Input);
}

article .flag {
  order: -1;
  width: 100%;
  height: 200px;
}

.flag img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

article h4 {
  margin: 1.2rem;
}

article p {
  margin: 0 1.2rem;
}

article p span {
  font-weight: 600;
}


/*************************/
/** for detail view **/

main.detail {
  overflow: hidden;
  width: 100vw;
}

main.detail section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10vw;
}

main.detail section>div {
  padding-top: 10vh;
}

main.detail section>div,
main.detail section article {
  flex-grow: 1;
}

main.detail section article h4 {
  margin: 20px 0 30px;
}

main.detail #returnBtn {
  background: var(--Dark-Blue-Dark-Mode-Elements);
  color: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  padding: 7px 40px;
  border: none;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--Dark-Blue-Dark-Mode-Elements);
}

body.light main.detail #returnBtn {
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  box-shadow: 0 0 3px var(--Dark-Gray-Light-Mode-Input);
  color: var(--Very-Dark-Blue-Light-Mode-Text);
  font-weight: 800;
}

#returnBtn i {
  margin-right: 8px;
}

main.detail .flag {
  padding: 10px;
  border-radius: 10px;
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
  box-shadow: 0 0 3px var(--Dark-Blue-Dark-Mode-Elements);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 300px;
  object-fit: cover;
  margin-right: 30px;
}

body.light main.detail .flag {
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  box-shadow: 0 0 3px var(--Dark-Gray-Light-Mode-Input);
}

main.detail .flag img {
  border-radius: 0;
}

main.detail article {
  background: none;
  padding: 10px;
  min-width: 200px;
  box-shadow: none;
}

body.light main.detail article {
  box-shadow: none;
}

main.detail article h4 {
  font-size: 2.5rem;
}

main.detail .detailInfo {
  display: flex;
}

main.detail .detailInfo div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 20px;
}

main.detail .detailInfo div>p {
  margin: 0 1px 10px 0;
  font-weight: 300;
}

main.detail .detailInfo span {
  font-weight: 600;
  margin-right: 5px;
}

main.detail article .border-holder {
  display: flex;
  margin: 20px 0 0 -20px;
  align-items: center;
}

main.detail article .detailInfo+div p {
  font-weight: 600;
  margin-right: 5px;
}

main.detail article .border-holder .borders {
  padding: 5px 8px;
  background: var(--Dark-Blue-Dark-Mode-Elements);
  margin: 5px;
  cursor: pointer;
}

body.light main.detail article div:last-child .borders {
  background: var(--White-Dark-Mode-Text-and--Light-mode-Elements);
  box-shadow: 0 0 3px var(--Dark-Gray-Light-Mode-Input);
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  margin: none;
}

.error-page h3 {
  display: block;
  font-size: 3rem;
  visibility: visible;
}

@media (max-width: 1250px) {
  main section {
    padding: 0 2rem;
  }

  main.detail section {
    padding: 2rem;
  }

  main.detail section article {
    min-width: 500px;
  }
}

@media (max-width: 1200px) {
  section article {
    min-width: 300px;
  }
}

@media (max-width: 1050px) {
  main section {
    justify-content: space-evenly;
  }

  main.detail section article {
    min-width: 400px;
  }
}

@media (max-width: 810px) {
  main form {
    padding: 0 2rem;
  }

  main.detail section>div {
    padding-top: 1rem;
  }
}

@media (max-width:600px) {
  header {
    padding: 1rem;
    margin: 0;
  }
}

@media (max-width:450px) {
  main form {
    flex-direction: column;
    align-items: flex-start;
    padding: .3rem;
  }

  input {
    /* margin: auto; */
    margin-bottom: 1.25rem;
    width: 90vw;
    min-width: 200px;
  }

  main.detail section article {
    width: 90vw;
    min-width: 350px;
    margin-bottom: 0;
  }
}

@media (max-width:420px) {
  header h1 {
    font-size: 1.2rem;
  }

  header i {
    margin-right: 5px;
  }

  article {
    width: 90vw;
    min-width: 250px;
  }
}

@media (max-width: 350px) {
  body {
    overflow: scroll;
  }
}