@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400&700&display=swap');

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue-1: hsl(234, 17%, 12%);
}

* {
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* main */
#root {
  width: 100vw;
  height: 100vh;
  background: var(--Very-dark-blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hidden heading */
#root h1 {
  position: absolute;
  left: 50%;
  top: 10vh;
  translate: -50% 0;
  font-size: 30px;
  opacity: 0;
}

/* section */
#root>section {
  background: url('./assets/images/bg-stars.svg');
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

section h2 {
  margin: 20vh 0 5vh;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.timer .title {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* bottom background image*/
.mountain-bed {
  background: url('./assets/images/pattern-hills.svg') center center/cover;
  width: 100vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Footer */
.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 4vh;
  left: 50vw;
  background-color: transparent;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}