@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

* {
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 4vh;
  left: 50vw;
  background-color: transparent;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}