@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue-1: hsl(234, 17%, 12%);
}

* {
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

body {
  overflow: hidden;
}

/* main */
#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--Very-dark-blue-1) 55%, var(--Very-dark-blue) 60%, var(--Soft-red));
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hidden heading */
#root h1 {
  position: absolute;
  left: 50%;
  top: 10vh;
  translate: -50% 0;
  font-size: 30px;
  opacity: 0;
}

/* section */
#root>section {
  background: url('./assets/images/bg-stars.svg');
  width: 100%;
  height: 100%;
  padding: 0 30px;
  max-width: 800px;
}

section h2 {
  margin: 20vh 0 5vh;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

.timer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 13vh 30px;
}

.timer .time {
  padding: 10px;
  color: var(--Soft-red);
  font-size: 30px;
  background: var(--Dark-desaturated-blue);
  margin: 0 10px 15px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer .time::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--Very-dark-blue);
  width: 100%;
  height: 50%;
  opacity: 0.5;
  border-radius: 10px;
  transform-origin: bottom;
}

.timer div:nth-child(4)::before {
  animation: flip infinite 1s linear;
}

/* .timer div:nth-child(1)::before,
.timer div:nth-child(2)::before,
.timer div:nth-child(3)::before {
  animation-play-state: paused;
}
 */

.timer .title {
  font-size: 9px;
  letter-spacing: 2px;
  color: var(--Grayish-blue);
}

/* bottom background image*/
.mountain-bed {
  background: url('./assets/images/pattern-hills.svg') center center/cover;
  width: 100vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mountain-bed img {
  margin: 15vh 2vh 0;
  cursor: pointer;
}

.mountain-bed img:hover {
  scale: 1.1;
}

/* Footer */
.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 4vh;
  left: 50vw;
  background-color: transparent;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  30% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

@media screen and (min-width:600px) {
  .timer .time {
    font-size: 40px;
  }

  .timer .title {
    font-size: 10px;
  }
}

@media screen and (min-width:700px) {
  .timer {
    grid-template-rows: 15vh 30px;
  }

  .timer .time {
    font-size: 50px;
  }

  .timer .title {
    font-size: 12px;
  }
}

@media screen and (min-width:950px) {
  .timer {
    grid-template-rows: 20vh 30px;
  }

  .timer .time {
    font-size: 60px;
  }

  .timer .title {
    font-size: 15px;
  }
}