@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/* general styles  */
:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --Gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

body {
  font-family: 'Raleway', sans-serif;
}

/* footer  */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  right: 10%;
  bottom: 5%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}