@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);


  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: 'Public Sans', sans-serif;
}

h1,
h2,
h3 {
  color: var(--Dark-Blue);
}

p {
  color: var(--Grayish-Blue);
}

.container-fluid {
  --bs-gutter-x: 0;
}

/* front image background  */
.main-image {
  background: url("./assets/images/bg-intro-desktop.svg") center bottom /cover;
}

@media (max-width:787px) {
  .main-image {
    background: url("./assets/images/bg-intro-mobile.svg") center bottom /cover;
  }
}

/* header  */
.header {
  padding: 1rem 8%;
  background: #fff;
  position: relative;
  z-index: 10;
}

.navbar-nav {
  margin: auto;
}

.nav-item {
  margin: 0 8%;
  font-weight: 500;
  color: var(--Grayish-Blue);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.bottom-line {
  display: block;
  width: 100%;
  height: 4px;
  position: relative;
  top: 1.5rem;
  transition: .3s all ease-in-out;
}

.nav-item:hover {
  color: var(--Dark-Blue);
}

.nav-item:hover .bottom-line {
  background: linear-gradient(45deg, var(--Lime-Green), var(--Bright-Cyan));
}

/* invite button  */
.invite-btn {
  background: linear-gradient(45deg, var(--Lime-Green), var(--Bright-Cyan));
  color: #fff;
  border-radius: 3rem;
  padding: .5rem 2rem;
  transition: .3s all linear;
  font-weight: 700;
}

.invite-btn:hover {
  color: #fff;
  opacity: .7;
}

/* main  */
.front-page {
  position: relative;
  top: -7.5rem;
  bottom: 0;
}

.front-info {
  display: flex;
  flex-direction: column;
  padding: 9%;
  padding-top: 15%;
}

.big-heading {
  font-size: 3rem;
}

.front-text {
  width: 83%;
  margin: 2rem 0;
}

.front-page .invite-btn {
  width: fit-content;
  margin-top: .5rem;
}

.main-image {
  height: 100vh;
}

.front-info .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* feature section  */
.feature-section {
  background: var(--Light-Grayish-Blue);
  padding: 9%;
}

.feature-section>p {
  margin: 1% 0 5%;
}

/* feature section article  */
.feature-article h3 {
  margin: 12% 0 8%;
}

/* blog section  */
.blog-section {
  padding: 9%;
}

.blog-section h2 {
  margin-bottom: 4%;
}

.blog-section-article {
  background: #fff;
  border-radius: 10px;
}

.blog-section-image {
  overflow: hidden;
  height: 13rem;
}

.blog-section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.blog-section-info {
  padding: 1rem 2rem;
}

.blog-section-info h3 {
  font-size: 1.1rem;
  font-weight: 500;
  transition: .3s all linear;
  cursor: pointer;
  margin-bottom: .7rem;
}

.blog-section-info h3:hover {
  color: var(--Lime-Green);
}

.blog-author {
  font-size: .8rem;
  margin: 1rem 0 .3rem;
  padding: 0;
}

/* footer  */
.footer {
  background: var(--Dark-Blue);
  padding: 4% 9%;
  color: #fff;
}

.footer .logo {
  margin-bottom: 2rem;
}

.footer ul {
  list-style-type: none;
  display: flex;
}

.footer li:hover {
  color: var(--Lime-Green);
  cursor: pointer;
  transition: .3s all ease-out;
}

.footer .icon-holder {
  padding: 0;
}

.footer li.icons {
  margin: 0 .5rem;
}

.footer li.icons:hover {
  scale: 1.1;
}

.copyright-div {
  flex-direction: column;
  align-items: flex-end;
}

.copyright-div .invite-btn {
  width: fit-content;
  margin-bottom: 1rem;
}