@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);

  --Mobile: 375px;
}

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-gray);
}

p {
  font-size: 15px;
  color: var(--Grayish-blue);
}

/* footer */
footer {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}