@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);

  --Mobile: 375px;
}

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Light-gray);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
  padding: 15px 20px 25px;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

main div:first-child {
  text-align: center;
}

h1 {
  font-size: 22px;
  margin: 20px;
}

p {
  font-size: 15px;
  color: var(--Grayish-blue);
}

main div:last-child {
  border-radius: 15px;
  overflow: hidden;
  width: 320px;
  height: 320px;
}

img {
  /* object-fit: contain; */
  width: 100%;
}

/* footer */
footer {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}