@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
  font-family: 'League Spartan', sans-serif;
}

p {
  font-size: 12px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
}

/* main  */
.hidden-heading {
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 45%;
  text-transform: uppercase;
}

.btn-holder {
  position: absolute;
}

/* footer  */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}