@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
  font-family: 'League Spartan', sans-serif;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 700;
}

p {
  color: var(--Dark-Gray);
}

/* header  */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  padding: 2rem 4rem;
  z-index: 5;
}

.navbar-brand {
  margin-right: 3rem;
  cursor: pointer;
}

.nav-item {
  margin: 0 1rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  border-bottom: 3px solid white;
}

/* main  */
main {
  display: flex;
  flex-direction: column;
}

.hidden-heading {
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 45%;
  text-transform: uppercase;
}

/* top-section  */
.top-section {
  height: 65vh;
  overflow: hidden;
  position: relative;
}

/* top-section description  */
.section-description {
  padding: 7rem;
}

.section-heading {
  font-size: 2.5rem;
  word-spacing: 1px;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.order-btn {
  text-transform: uppercase;
  letter-spacing: .5rem;
  word-spacing: 1rem;
  transition: .3s all linear;
  margin-top: 1rem;
}

.order-btn:hover {
  opacity: .7;
}

.order-btn img {
  margin-left: 1rem;
}

/* top-section image  */
.section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center left;
}

/* button holder  */
.btn-holder {
  position: absolute;
  bottom: 0;
  left: 56.7%;
  width: auto;
}

.btn-holder img {
  background: var(--Black);
  padding: 1.5rem 2rem;
  transition: .3s all ease-in-out;
}

.btn-holder img:hover {
  background: var(--Very-Dark-Gray);
}

/* bottom section  */
.bottom-section {
  overflow: hidden;
}

.bottom-section-description {
  padding: 3rem 1.6rem;
  font-size: .9rem;
}

.bottom-section-heading {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 5px;
}

.bottom-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer  */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  opacity: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:1350px) {

  /* top-section description  */
  .section-description {
    padding: 4rem;
  }
}

@media (max-width:1080px) {

  /* top-section description  */
  .section-description {
    padding: 4rem 2rem;
  }

  .btn-holder {
    left: auto;
    right: 0;
  }
}

@media (max-width: 850px) {

  /* top-section description  */
  .section-description {
    padding: 2rem;
  }
}

@media (max-width: 780px) {

  /* bootstrap media medium size  */
  .top-section {
    height: auto;
  }

  .btn-holder {
    top: 42.5%;
  }

  .section-description {
    padding: 7rem;
  }

  /* bottom section  */
  .bottom-section-description {
    padding: 3rem 5rem;
  }
}

@media (max-width:600px) {
  header {
    right: 0;
  }

  .btn-holder {
    top: 35%;
  }
}

@media (max-width:550px) {
  .section-description {
    padding: 4rem 7rem;
  }

  .btn-holder {
    top: 42%;
  }
}

@media (max-width:400px) {
  .section-description {
    padding: 4rem 5rem;
  }

  .btn-holder {
    top: 31%;
  }

  /* bottom section  */
  .bottom-section-description {
    padding: 3rem;
    padding-left: 4rem;
  }
}