* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

/* home component */
.home {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/space_tourism_website/src/assets/home/background-home-desktop.jpg?raw=true') center center/cover;
  display: flex;
  height: 100vh;
  color: white;
}

.home div {
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 60vh;
}

.home div:first-child {
  flex-direction: column;
}