@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Comfortaa', cursive, Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

/* home component */
.home {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/space_tourism_website/src/assets/home/background-home-desktop.jpg?raw=true') center center/cover;
  display: flex;
  height: 100vh;
}

.home div {
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.home div:first-child {
  flex-direction: column;
  color: white;
  padding: 0 150px;
  margin-top: 25vh;
}

.home div:first-child p:nth-child(1) {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.home div:first-child p:nth-child(2) {
  margin-top: 20px;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: lighter;
}

.home div:first-child p:nth-child(3) {
  margin-top: 25px;
  line-height: 2em;
}

.home div:last-child span {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 30px;
}