@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

/* General styles */
:root {
  --grey-shade: grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Comfortaa', cursive, Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.underline {
  height: 1px;
  width: 35vw;
  background-color: white;
  margin-left: 50px;
  z-index: 2;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  color: white;
}

section h2 {
  position: absolute;
  top: 25vh;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

section h2 span {
  color: var(--grey-shade);
  margin-right: 20px;
}

nav ul li {
  opacity: 0.8;
}

nav ul li.active {
  border-bottom: 3px solid white;
  opacity: 1;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
}

header img {
  margin-left: 50px;
}

/* Navbar */
header nav {
  position: absolute;
  width: 55%;
  right: 0;
  /* background: linear-gradient(56deg, rgb(20, 20, 23) 5%, rgb(24, 68, 137) 25%, rgb(192, 216, 244), rgb(20, 78, 129), rgb(15, 76, 173)); */
  background-color: rgb(21, 50, 114);
  opacity: 0.7;
}

@media screen and (max-width: 1170px) {
  header nav {
    width: 75%;
  }

  header .underline {
    width: 15%;
  }
}

@media screen and (max-width: 860px) {
  header .underline {
    width: 10%;
  }
}

@media screen and (max-width: 790px) {
  header nav {
    width: 85%;
  }

  header .underline {
    width: 0;
  }
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0 30px 0 0;
  text-transform: uppercase;
  color: white;
  align-items: center;
}

header nav ul li {
  padding: 30px;
  height: 100%;
}

nav ul li .nav-link {
  text-decoration: none;
  color: white;
}

nav ul li span {
  font-weight: bold;
  margin-right: 7px;
}

/* home component */
.home {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/space_tourism_website/src/assets/home/background-home-desktop.jpg?raw=true') center center/cover;
  display: flex;
  height: 100vh;
  width: 100%;
}

.home div {
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.home div:first-child {
  flex-direction: column;
  color: white;
  padding: 0 150px;
  margin-top: 25vh;
}

.home div:first-child p:nth-child(2) {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  top: 210px;
}

@media screen and (max-width: 360px) {
  .home div:first-child p:nth-child(2) {
    top: 180px;
  }
}

.home div:first-child h2 {
  margin-top: 60px;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:950px) {
  .home div:first-child h2 {
    font-size: 90px;
  }
}

.home div:first-child p:nth-child(3) {
  margin-top: 15px;
  line-height: 2em;
}

@media screen and (max-width: 1240px) {
  .home div:first-child {
    padding: 0 75px;
  }

  .home div:first-child p:nth-child(3) {
    margin-top: 45px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 670px) {
  .home div:first-child {
    padding: 0 55px;
  }

  .home div:first-child p:nth-child(3) {
    margin-top: 35px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 520px) {
  .home div:first-child {
    padding: 0 15px;
  }

  .home div:first-child p:nth-child(3) {
    margin-top: 45px;
    line-height: 1em;
    width: 100%;
  }
}

.home div:last-child span {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 30px;
  color: black;
}

@media screen and (max-width: 670px) {
  .home div:last-child span {
    width: 200px;
    height: 200px;
    font-size: 25px;
  }
}

@media screen and (max-width: 550px) {
  .home div:last-child span {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
}

/* Destination */
.destination {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/space_tourism_website/src/assets/destination/background-destination-desktop.jpg?raw=true') center center /cover;
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 15vw 10vw 5vh;
}

.destination .des-img {
  display: flex;
  align-items: center;
  min-width: 450px;
}

@media screen and (max-width: 450px) {
  .destination h2 {
    top: 20vh;
  }
}

@media screen and (max-width: 1200px) {
  .destination {
    padding: 17vw 5vw 5vh;
  }

  .destination .des-img {
    margin-top: 50px;
  }
}

@media screen and (max-width: 860px) {

  .destination .des-img {
    margin-top: 80px;
  }
}

.destination .des-info {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 0;
  padding: 1px;
}

@media screen and (max-width: 1200px) {
  .destination .des-info {
    margin-left: 70px;
    min-width: 55%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .destination .des-info {
    margin-left: 20px;
  }
}

@media screen and (max-width: 860px) {
  .destination .des-info {
    margin-left: -60px;
    margin-top: 100px;
    min-width: 60%;
  }
}

@media screen and (max-width: 760px) {
  .destination .des-info {
    margin-left: -120px;
  }
}

@media screen and (max-width: 680px) {
  .destination .des-info {
    margin-left: -200px;
    margin-top: 120px;
    min-width: 70%;
  }
}

@media screen and (max-width: 620px) {
  .destination .des-info {
    margin-left: -350px;
    min-width: 80%;
  }
}

@media screen and (max-width: 520px) {
  .destination .des-info {
    margin-top: 150px;
  }
}

@media screen and (max-width: 450px) {
  .destination .des-info {
    margin-left: -450px;
  }
}

/* destination nav */
.destination .des-info .des-nav-holder nav ul {
  justify-content: space-between;
  padding: 0;
  width: 50%;
}

.destination .des-info .des-nav-holder nav ul li {
  background-color: black;
  height: 100%;
  padding: 20px 1px;
  opacity: 0.7;
  margin: 0 5px;
}

/* destination info article */
.destination .des-info .des-nav-holder+div article {
  color: white;
}

.destination .des-info .des-nav-holder+div article h3 {
  font-size: 65px;
  margin: 25px 0;
}

@media screen and (max-width: 700px) {
  .destination .des-info .des-nav-holder+div article h3 {
    font-size: 50px;
    margin: 20px 0;
  }
}

.destination .des-info .des-nav-holder+div article p {
  width: 80%;
  line-height: 1.4em;
  white-space: wrap;
}

.destination .des-info .des-nav-holder+div article .underline {
  margin: 25px 0 50px;
  width: 80%;
}

@media screen and (max-width: 810px) {
  .destination .des-info .des-nav-holder+div article .underline {
    margin: 15px 0 30px;
  }
}

@media screen and (max-width: 750px) {
  .destination .des-info .des-nav-holder+div article .underline {
    margin: 20px 0 30px;
  }
}

/* destination travel time and distance*/
.destination .des-info .des-nav-holder+div article div:last-child {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  text-transform: uppercase;
  row-gap: 10px;
}

@media screen and (max-width: 870px) {
  .destination .des-info .des-nav-holder+div article div:last-child {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 700px) {

  .destination .des-info .des-nav-holder+div article div:last-child div:nth-child(3),
  .destination .des-info .des-nav-holder+div article div:last-child div:nth-child(4) {
    font-size: 1em;
  }
}

.destination .des-info .des-nav-holder+div article div:last-child div:nth-child(1),
.destination .des-info .des-nav-holder+div article div:last-child div:nth-child(2) {
  font-size: 0.7em;
  font-weight: bold;
  color: var(--grey-shade);
}

.destination .des-info .des-nav-holder+div article div:last-child div:nth-child(3),
.destination .des-info .des-nav-holder+div article div:last-child div:nth-child(4) {
  font-size: 1.5em;
}

/* crew */
.crew {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/space_tourism_website/src/assets/crew/background-crew-desktop.jpg?raw=true') center center /cover;
  display: flex;
  height: 100vh;
  padding: 30vh 10vw 0;
  overflow: hidden;
}

.crew .crew-info {
  margin: 15vh 0 0 5vw;
}

/* crew article*/
.crew .crew-info article h3 {
  color: var(--grey-shade);
  text-transform: uppercase;
}

.crew .crew-info article h4 {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 15px 0 20px;
}

.crew .crew-info article p {
  width: 70%;
  line-height: 1.7em;
}

.crew .crew-nav-holder ul {
  position: absolute;
  bottom: 100px;
  width: 100px;
  justify-content: space-between;
  padding: 3px 0;
}

.crew .crew-info .crew-nav-holder nav ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--grey-shade);
}

.crew .crew-info .crew-nav-holder nav ul li.active {
  background-color: white;
}

.crew .crew-img img {
  width: 500px;
  height: 100%;
  object-fit: contain;
}

/* technology */
.technology {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/space_tourism_website/src/assets/technology/background-technology-desktop.jpg?raw=true') center center /cover;
  display: flex;
  height: 100vh;
  padding: 25vh 0 8vh 10vw;
}

.technology .tech-info {
  display: flex;
  margin: 100px 0 0 0;
}

.technology .tech-info nav ul {
  flex-direction: column;
  height: 250px;
  width: 100px;
  justify-content: space-between;
  padding: 0;
}

.technology .tech-info nav ul li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 20px;
  border: 1px solid white;
  opacity: 0.9;
}

.technology .tech-info nav ul li.active {
  color: black;
  background-color: white;
}

.technology .tech-info div:nth-child(2) h3 {
  text-transform: uppercase;
  font-size: 0.7em;
}

.technology .tech-info div:nth-child(2) h4 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 20px 0 30px;
}

.technology .tech-info div:nth-child(2) p {
  width: 60%;
  line-height: 1.4em;
}

.technology img {
  height: 100%;
  object-fit: contain;
}