@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */

:root {
  /* (Full Slider Bar) */
  --Soft-Cyan: hsl(174, 77%, 80%);
  /* (Slider Backround) */
  --Strong-Cyan: hsl(174, 86%, 45%);
  /* (Discount Background) */
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  /* (Discount Text) */
  --Light-Red: hsl(15, 100%, 70%);
  /* (CTA Text) */
  --Pale-Blue: hsl(226, 100%, 87%);
  /* (Pricing Component Background) */
  --White: hsl (0, 0%, 100%);
  /* (Main Background) */
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  /* (Empty Slider Bar) */
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  /* (Toggle Background) */
  --Light-Grayish-Blue2: hsl(223, 50%, 87%);
  /* (Text) */
  --Grayish-Blue: hsl(225, 20%, 60%);
  /* (Text & CTA Background) */
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

body {
  font-family: 'Manrope', sans-serif;
  background: var(--Very-Pale-Blue);
  text-align: center;
  padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 15px;
  color: var(--Grayish-Blue);
}

footer {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
}

/* main  */
h1 {
  margin: 8% auto 2%;
  font-size: 1.5rem;
  color: var(--Dark-Desaturated-Blue);
}

h1+p {
  width: 60%;
  margin: auto;
}

/* background pattern image  */
.bg-pattern-circle {
  position: absolute;
  object-fit: cover;
  top: 5%;
  left: 45%;
  z-index: -1;
}

/* card holder  */
.card-holder {
  background: #fff;
  margin: auto;
  margin-top: 3.2rem;
  z-index: 10;
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 1px 1px 5px #fff;
  max-width: 40rem;
}

/* card header  */
.card-header {
  font-size: .9rem;
}

.views {
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
}

/* progress bar  */
.progress-bar {
  width: 100%;
  height: 6px;
  background: var(--Light-Grayish-Blue);
  border-radius: 3px;
  margin: 2rem 0;
  overflow: visible;
  position: relative;
  transition: .3s all linear;
}

.progress-bar::before {
  content: '';
  position: absolute;
  background: var(--Soft-Cyan);
  height: 100%;
  left: 0;
  width: 0;
  transition: .6s all linear;
}

.progress-bar.percent-25::before {
  width: 25%;
}

.progress-bar.percent-50::before {
  width: 50%;
}

.progress-bar.percent-75::before {
  width: 75%;
}

.progress-bar.percent-95::before {
  width: 100%;
}

.progress-box {
  background: var(--Strong-Cyan);
  width: 3rem;
  padding: .3rem;
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .5s all linear;
}

.price {
  font-size: 2rem;
  font-weight: 800;
  color: var(--Dark-Desaturated-Blue);
}

/* card neck  */
.card-neck {
  display: flex;
  max-width: 30rem;
  justify-content: space-between;
  margin: 2rem auto;
  align-items: center;
}

.card-neck label {
  color: var(--Grayish-Blue);
  font-size: .9rem;
  cursor: pointer;
}

.switch-box {
  width: 3.5rem;
  height: 2rem;
  background: var(--Light-Grayish-Blue2);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: .3s all linear;
}

.switch-box:hover {
  background: var(--Strong-Cyan);
}

.switch {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s all linear;
}

/* switch on position  */
.switch-box.switchOn .switch {
  left: 50%;
}

.discount {
  background: var(--Light-Grayish-Red);
  color: var(--Light-Red);
  margin: 0;
  padding: .3rem;
  font-size: .8rem;
}

.discount::before {
  content: '-'
}

.hid-discount {
  display: none;
}

/* card body  */
.card-body ul {
  list-style-type: none;
}

.card-body li {
  position: relative;
  margin: .5rem 0;
  color: var(--Grayish-Blue);
}

.card-body li img {
  position: absolute;
  left: -1rem;
  top: .5rem;
}

.card-body .btn {
  background: var(--Dark-Desaturated-Blue);
  color: var(--Light-Grayish-Blue2);
  padding: .5rem 2.5rem;
  border-radius: 2rem;
  height: min-content;
}

.card-body .btn:hover {
  color: #fff;
}

/* footer  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (min-width: 48rem) {

  body {
    padding: 3%;
  }

  h1 {
    margin-top: 1%;
  }

  .card-holder {
    padding: 1rem 3rem;
  }

  .views {
    order: 1;
    display: flex;
    align-items: center;
  }

  .price-holder {
    order: 2;
  }

  .progress-bar {
    order: 3;
  }

  .discount {
    display: flex;
  }

  .discount::before {
    display: none;
  }

  .hid-discount {
    display: block;
    margin-left: .5rem;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}