main {
  position: relative;
}

/* front page  */
.front-page {
  padding: 0 25vw;
  padding-bottom: 14vh;
}

.main-heading {
  margin: 2rem 0;
}

.main-heading+p {
  width: 55%;
  margin: auto;
}

.front-page .btn {
  margin-top: 1.5rem;
  padding: 0.5rem 3rem;
}

/* feature section  */
.feature-articles {
  padding: 0 10vw;
  text-align: center;
}

.feature-articles article {
  padding: 2rem 4rem;
}

.feature-articles .article-img {
  margin-bottom: 2rem;
}

.feature-info .col-md-6:first-of-type {
  padding-right: 12vw;
}

.feature-section .section-heading {
  width: 80%;
  margin-bottom: 1rem;
}

.feature-info a {
  color: var(--Cyan);
}

.feature-info a:hover {
  color: inherit;
}

/* testimonial section  */
.testimonial-section {
  padding: 15vh 0 20vh;
}

.testimonial-section .container-fluid {
  padding-top: 2rem;
  background: url("../assets/images/bg-quotes.png") no-repeat;
  background-position: top left 4vw;
}

/* articles  */
.testimonial-section article {
  padding: 0 1.5rem;
}

.testimonial-section .card {
  background: var(--Dark-Blue4);
  padding: 2rem;
  margin-bottom: 1rem;
}

.testimonial-section .avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--Dark-Blue2);
  margin-right: 1rem;
}

.info h3 {
  font-size: 1rem;
}

.info h3,
.info h3+p {
  margin: 0;
}

/* form section  */
.form-section {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--Dark-Blue);
  padding: 4vh 5vw;
  text-align: center;
  border-radius: 0.5rem;
}

.form-section p {
  margin: 1rem 0 2rem;
}

.form-item {
  position: relative;
  flex-grow: 1;
}

.form-item .invalid-feedback {
  position: absolute;
  text-align: left;
  margin: 0.5;
  margin-left: 1.5rem;
}

.form-section input {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  display: inline-block;
  width: 100%;
}

.form-section .btn {
  margin-left: 1rem;
  padding: 0.5rem 2rem;
}