footer {
  background: var(--Very-Dark-Cyan);
  padding: 20vh 0 10vh;
  color: #fff;
}

footer p {
  color: inherit;
  margin: 0;
}

footer .logo {
  margin-bottom: 2rem;
}

/* footer contacts  */
.contact-icon {
  width: 1.3rem;
  margin-top: 0.5rem;
}

.contact-item:first-of-type .contact-icon {
  width: 2.5rem;
}

.contact-item {
  margin-top: 1rem;
  padding-right: 2rem;
  align-items: start;
}

.contact-item div {
  margin-right: 1rem;
}

/* nav links  */
footer .nav-link {
  margin-bottom: 1rem;
}

footer .nav-link:hover {
  text-decoration: underline;
}

/* social icons */
.social-links {
  margin-left: auto;
}

.social-links a {
  box-sizing: content-box;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  transition: 0.2s all linear;
}

.social-icon-img {
  width: 1rem;
  height: 1rem;
  fill: #fff;
  transition: inherit;
}

.social-links a:hover {
  border-color: var(--Pink);
}

.social-links a:hover .social-icon-img {
  fill: var(--Pink);
}

footer p.text-center {
  font-size: 0.85rem;
}

@media (max-width: 48rem) {
  footer {
    padding-bottom: 5vh;
    position: relative;
  }

  footer::before {
    content: "";
    background: var(--Very-Dark-Cyan);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1rem;
    z-index: -1;
  }

  footer .container-fluid {
    padding: 1.5rem;
  }

  .contact-item {
    margin-top: 1rem;
    padding-right: 0;
    align-items: start;
  }

  .nav-links {
    margin: 3rem 1rem;
  }

  .social-links {
    display: flex;
    justify-content: space-evenly;
  }

  footer p.text-center {
    margin-top: 1.5rem;
  }
}