@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/* general styles  */
:root {
  /* primary color  */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(75deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);

  /* dark theme  */
  /* (BG) */
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  /* (Top BG Pattern) */
  --Very-Dark-Blue2: hsl(232, 19%, 15%);
  /* (Card BG) */
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  /* (Text) */
  --Desaturated-Blue: hsl(228, 34%, 66%);
  /* (Text) */
  --White: hsl(0, 0%, 100%);
  /*dark theme toggle  */
  --Dark-Toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));


  /* light theme  */
  /* (BG) */
  --White: hsl(0, 0%, 100%);
  /* (Top BG Pattern) */
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  /* (Card BG) */
  --Light-Grayish-Blue: hsl(227, 47%, 96%);
  /* (Text) */
  --Dark-Grayish-Blue: hsl(228, 12%, 44%);
  /* (Text) */
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  /* light theme toggle  */
  --Light-Toggle: hsl(230, 22%, 74%);
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--Very-Dark-Blue);
  color: var(--White);
}

/* light theme  */
body.light {
  background: var(--White);
  color: var(--Very-Dark-Blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  color: var(--Desaturated-Blue);
}

/* light theme  */
body.light p {
  color: var(--Dark-Desaturated-Blue);
}

main {
  padding: 0 5%;
}

/* front info  */
.front-info {
  background: var(--Very-Dark-Blue2);
  border-radius: 0 0 2rem 2rem;
  padding: 3rem 5%;
}

/* light theme  */
body.light .front-info {
  background: var(--Very-Pale-Blue);
}

.main-heading {
  font-size: 1.5rem;
}

.info {
  order: 1;
  padding-left: 0;
}

/* switch to change mode  */
.switch-box {
  width: 3rem;
  height: 1.6rem;
  border-radius: 1rem;
  background: var(--Dark-Toggle);
  margin-left: auto;
  position: relative;
  order: 3;
  cursor: pointer;
  transition: .3s all linear;
}

/* light theme  */
body.light .switch-box {
  background: var(--Light-Toggle);
}

.current-mode {
  position: absolute;
  white-space: nowrap;
  left: -575%;
}

.ball {
  position: absolute;
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--Very-Dark-Blue);
  border-radius: 50%;
  transition: .3s all ease-in-out;
}

/* light-theme  */
body.light .ball {
  left: unset;
  right: 5%;
  background: var(--White);
}

.divider {
  background: var(--Dark-Desaturated-Blue);
  width: 100%;
  height: .1rem;
  margin: 1rem auto;
  order: 2;
}

/* light-theme  */
body.light .divider {
  background: var(--Light-Toggle);
}

/* overall stat  */
.overall-stat>.row,
.detail-stat>.row {
  margin: 0;
  padding: .5rem;
}

.article-holder {
  padding: 1rem;
}

/* articles */
article {
  margin-bottom: 1.5rem;
  border-radius: .4rem;
  overflow: hidden;
  padding-top: .3rem;
}

/* article borders  */
.article-facebook {
  background: var(--Facebook);
}

.article-twitter {
  background: var(--Twitter);
}

.article-instagram {
  background: var(--Instagram);
}

.article-youtube {
  background: var(--YouTube);
}

/* inner article  */
.inner-article {
  background: var(--Dark-Desaturated-Blue);
  border-radius: 0;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  transition: .3s all linear;
}

.inner-article:hover {
  opacity: 0.9;
}

/* light-theme  */
body.light .inner-article {
  background: var(--Light-Grayish-Blue);
}

/* author div */
.author {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: .7rem 0 1rem;
}

.author h2 {
  margin: 0;
  font-size: .8rem;
  color: var(--Desaturated-Blue);
}

/* light-theme  */
body.light .author h2 {
  color: var(--Very-Dark-Blue);
}

.author img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .5rem;
}

/* follower div  */
.follower span {
  font-size: 2.5rem;
  font-weight: 700;
}

.follower p {
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-size: .9rem;
}

/* activity  */
.activity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

.activity img {
  margin-right: .5rem;
}

.activity.up {
  color: var(--Lime-Green);
}

.activity.down {
  color: var(--Bright-Red);
}


/* detail stat  */
.detail-stat h2 {
  padding: 0;
  margin-top: 1.5rem;
}

.activity-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.detail-stat h3 {
  font-size: 1rem;
  color: var(--Desaturated-Blue);
  padding-top: 1rem;
}

/* light theme */
body.light .detail-stat h3 {
  color: var(--Very-Dark-Blue);
}

.change-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-stat p {
  font-size: 2rem;
  color: var(--White);
  font-weight: 700;
}

@media (min-width: 49rem) {

  .overall-stat,
  .detail-stat {
    padding: 0 10%;
  }

  .front-info {
    padding: 3% 12%;
  }

  .divider {
    display: none;
  }

  .current-mode {
    left: -200%;
  }

  .detail-stat h2 {
    padding: 1rem;
    margin-top: 1.5rem;
  }
}