@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);

  --main-padding-x: 5vw;
  --section-padding-x: 5vw;
}

body {

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
}

p {
  color: var(--Grayish-Blue);
}

.container-fluid {
  padding: 0 var(--main-padding-x);
}

.huddle-btn {
  background: var(--Pink);
  color: var(--Very-Pale-Cyan);
  font-weight: 700;
  border-radius: 2rem;
  padding: 0.8rem 3rem;
}