@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* css reset  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Linear1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
  background: var(--Linear1);
}

p {
  color: var(--Desaturated-Red);
  margin: 2rem auto 3rem;
}

/* main  */
main+.row {
  height: 100vh;
}

.row>.col-md-6 {
  padding: 0;
}

/* header  */
header {
  padding: 8vh 10vw;
}

.main-content {
  padding: 0 10vw;
}

/* h1  */
.main-heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .7rem;
  font-weight: 600;
}

.main-heading span {
  font-weight: 200;
  color: var(--Desaturated-Red);
}

/* form  */
form.row {
  position: relative;
}

form.row>.col-md-12 {
  padding: 0;
  height: max-content;
}

.form-control {
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid var(--Desaturated-Red);
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--Desaturated-Red);
}

/* submit button  */
.submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  height: 3.125rem;
  background: var(--Linear2);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.submit-btn:hover {
  opacity: 0.9;
  box-shadow: 0 2px 4px var(--Desaturated-Red);
}

/* change bootstrap image to custom image  */
.was-validated .form-control:invalid {
  background-image: url("./images/icon-error.svg");
  background-position: right calc(0.375em + 5.5rem) center;
}

.valid-feedback,
.invalid-feedback {
  padding-left: 1.3rem;
  padding-top: 0.5rem;
}

/* hero image desktop  */
.hero-image img {
  margin-left: auto;
}

/* footer  */
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0.5vh;
  right: 5vw;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:75rem) {
  .main-content {
    padding-right: 5vw;
  }
}

@media (max-width: 62.5rem) {
  header {
    padding: 8vh 5vw;
  }

  .main-content {
    padding: 0 5vw;
  }
}

@media (max-width: 55.625rem) {
  .main-heading {
    font-size: 3rem;
  }
}

@media (max-width:53.125rem) {

  main {
    margin-top: 10vh;
  }
}

@media (max-width:48rem) {

  /* main  */
  main {
    margin-top: 0;
  }

  /* header  */
  header {
    padding: 3vh 8vw;
  }

  /* hero image mobile  */
  .hero-image-mobile {
    background: url("./images/hero-mobile.jpg") no-repeat;
    width: 100%;
    height: 33vh;
    background-position: center;
    margin-bottom: 3rem;
  }

  .main-content {
    padding: 0 15vw;
    text-align: center;
  }

  .main-heading {
    width: 60%;
    margin: auto;
    line-height: 3rem;
  }

  .main-heading span {
    display: block;
  }

  .main-heading+p {
    margin: 1rem auto 1.5rem;
  }

  form {
    text-align: left;
  }

  /* hero image desktop */
  .hero-image {
    display: none;
  }

  .attribution {
    display: none;
  }
}

@media (max-width:42.5rem) {
  .main-content {
    padding: 0 8vw;
  }
}

@media (max-width:35rem) {
  .main-content {
    padding: 0 2rem;
  }

  .main-heading {
    width: 100%;
  }
}

@media (max-width:21.875rem) {
  body {
    overflow: visible;
  }
}