.modal-holder {
  position: absolute;
  z-index: 200;
  top: 25%;
  left: 5%;
  width: 90%;
}

.close-modal,
.main-modal {
  background: #fff;
  margin: auto;
  padding: 2rem 1rem;
  border-radius: .8rem;
}

/* close modal  */
.close-modal {
  text-align: center;
  max-width: 35rem;
}

.close-modal img {
  margin: auto;
}

.close-modal-head {
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.close-modal .btn {
  background: var(--Moderate-cyan);
  color: white;
  font-weight: 500;
  padding: .5rem 1.5rem;
  border-radius: 2rem;
}

/* main modal  */
.main-modal {
  max-width: 50rem;
}

.main-modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon-holder {
  cursor: pointer;
}

.close-icon-holder:hover {
  scale: 1.03;
}

.radio-btn {
  width: 2rem;
  height: 2rem;
  margin: .5rem 1rem;
}

/* pledge selection  */
.article.pledge-selected {
  border: 2px solid var(--Dark-cyan);
}

.pledge-number {
  width: 7rem;
  height: max-content;
  padding: .7rem 1rem;
  margin-right: .8rem;
  border-radius: 2rem;
  border: none;
  margin-bottom: .5rem;
}