<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6036f5d002.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="index.css">
  <title>Country Detail Mapping</title>
</head>

<body>
  <!-- header -->
  <%- include('partials/header.ejs') %>

    <main>
      <h2>Country Data View</h2>
      <form action="" method="get">
        <input type="search" id="countryName" name="countryName" placeholder="           Search for a country...">
        <select name="region" id="region">
          <option value="#">Filter by region</option>
        </select>
      </form>
      <section>
        <h3>Country list view</h3>
        <% for (let country of countrys) { %>
          <%- include('partials/countryListView.ejs', {country}) %>
            <% } %>
      </section>
    </main>

</body>

</html>