main {
  background: url("/src/assets/images/bg-tablet-pattern.svg") no-repeat;
  background-position: -10% -30%;
  padding-top: 4rem;
}

/* home page  */
.home-page {
  margin-bottom: 5rem;
}

.home-page p {
  text-align: center;
}

.home-page .btn-holder {
  display: flex;
  justify-content: center;
}

/* home page component order*/
.text-portion {
  order: 2;
}

.image-portion {
  order: 1;
}

/* feature section  */
.feature-section .section-heading+p {
  text-align: center;
  margin-bottom: 3rem;
}

.feature-section .article-head {
  flex-direction: row-reverse;
  justify-content: start;
  background: var(--Very-Pale-Red);
  align-items: center;
  border-radius: 3rem 0 0 3rem;
  box-shadow: 15px 0 var(--Very-Pale-Red);
}

.feature-section .article-heading {
  text-align: left;
  font-size: 1rem;
}

.feature-section .btn-orange {
  margin-right: .5rem;
}

.feature-section .article-body {
  margin: .5rem 0 2rem;
}

.feature-section .btn-orange:hover {
  opacity: 1;
  box-shadow: none;
}

/* testimonial section  */
.carousel-item.active {
  display: flex;
  flex-direction: column-reverse;
}

.carousel-item img {
  width: 4rem;
  height: 4rem;
  margin: 2rem auto 1rem;
}

.carousel-item .article-heading+p {
  text-align: center;
}

.c-2 {
  top: 2rem;
  z-index: 50;
}

.c-2 button {
  border: 1px solid var(--Bright-Red) !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
}

.c-2 button.active {
  background: var(--Bright-Red);
}

.testimonial-section .btn-holder {
  margin: 3rem auto 5rem;
  display: flex;
  justify-content: center;
}

.testimonial-section .btn {
  font-size: .85rem;
  padding: .7rem 3rem;
}

/* end page  */
.end-page {
  background: var(--Bright-Red);
  padding: 5rem 0;
}

.end-page .main-heading {
  color: #fff;
}

.end-page .btn-holder {
  display: flex;
  justify-content: center;
}

.end-page .btn-orange {
  background: var(--Very-Pale-Red);
  color: var(--Bright-Red);
  margin: 1rem auto;
  padding: .7rem 3rem;
}

.end-page .btn-orange:hover {
  opacity: 1;
  box-shadow: 0 0 3px var(--Dark-Blue);
}

@media (min-width: 48rem) {
  main {
    padding-top: 10%;
    background-position: 100% -10%;
  }


  /* home page  */
  .home-page h1,
  .home-page p {
    text-align: left;
    margin: 2rem 0;
  }

  .home-page .btn-holder {
    justify-content: start;
  }

  /* home page component order*/
  .text-portion {
    order: 1;
  }

  .image-portion {
    order: 2;
  }

  .text-portion {
    padding: 3% 10%;
  }

  /* feature section  */
  .feature-section {
    padding: 2% 0;
  }

  .feature-section .head-portion {
    padding: 0 10%;
  }

  .feature-section .head-portion p {
    text-align: left;
    margin-top: 2rem;
  }

  .feature-section .article-head {
    background: none;
  }
}