@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /* (active input border) */
  --Red: hsl(0, 100%, 66%)
    /* (input errors) */
}

* {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}