@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /* (active input border) */
  --Red: hsl(0, 100%, 66%)
    /* (input errors) */
}

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

/* background Image display*/
.display {
  background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/interactive-card/public/images/bg-main-desktop.png?raw=true') center center/ cover;
  width: 30vw;
  color: white;
  height: 100%;
}

/* Card Image*/
.card {
  width: 390px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
}

/* Card front */

.front {
  top: 20vh;
  left: 10vw;
  padding: 20px;
}

.front p {
  font-size: 1.7em;
}

.front div p {
  font-size: 14px;
  text-transform: uppercase;
}

.back {
  background-position: top;
  top: 55vh;
  left: 15vw;
}

/* Form */

form {
  position: absolute;
  width: 30%;
  padding: 25px;
  right: 15vw;
  top: 30vh;
  min-width: 400px;
}

/*input */
input {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: .3em 0 0.7em 0;
}

input:focus {
  border: 1px solid var(--Linear-gradient);
}

label {
  text-transform: uppercase;
}

#expiry-holder input {
  margin-right: .3em;
}

input:valid {
  border: 1px solid var(--Linear-gradient);
}

input:invalid {
  border: 1px solid var(--Red);
}

/* Button */
button[type='submit'] {
  background-color: var(--Very-dark-violet);
  color: white;
  padding: .5em;
  border-radius: 5px;
  width: 100%;
  margin: 1em 0 0 0;
}

/* After submit form*/
#after-submit-form img {
  margin-bottom: 15px;
}

#after-submit-form p:first-of-type {
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

#after-submit-form p:last-of-type {
  font-size: 0.8m;
  color: var(--Dark-grayish-violet);
  margin-bottom: 1.7em;
}

/* Footer */
.attribution {
  position: absolute;
  bottom: 5vh;
  font-size: 11px;
  left: 50vw;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1100px) {
  .card {
    width: 320px;
    height: 180px;
  }

  .front img {
    margin-bottom: 15px;
  }

  .front p {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .front div p {
    font-size: 12px;
  }

  form {
    right: 10vw;
  }
}

@media screen and (max-width: 950px) and (min-width: 601px) {
  form {
    top: 15vh;
    right: 5vw;
  }
}

@media screen and (max-width: 880px) {
  #root {
    flex-direction: column;
  }

  .display {
    width: 100vw;
    background: url('https://github.com/nkp1111/frontend-mentor-challenges/blob/main/interactive-card/public/images/bg-main-mobile.png?raw=true') center center /cover;
    height: 35vh;
  }

  .back {
    top: 3vh;
    right: 5vw;
  }

  .front {
    top: 17vh;
    left: 5vh;
  }

  .mainform {
    width: 100vw;
    flex: 1;
    background: white;
  }

  form {
    top: 43vh;
    right: 5vw;
  }

  .attribution {
    display: none;
  }

  label {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 450px) {
  form {
    min-width: 300px;
  }

  .card {
    width: 250px;
    height: 150px;
  }

  .front img {
    margin-bottom: 0;
  }

  .front p {
    font-size: 0.8em;
  }

  .front div p {
    font-size: 0.5em;
  }

  form {
    top: 40vh;
    right: 5vw;
  }
}