footer {
  background: var(--Very-Light-Gray);
  padding: 5vh 0 7vh;
  position: relative;
}

/* footer head  */
.footer-head {
  border-bottom: 1px solid var(--Grayish-Blue);
  padding-bottom: 1rem;
}

.footer-head .nav-link {
  margin-left: 1rem;
}

.footer-head .nav-link:hover {
  scale: 1.1;
}

.footer-body {
  padding-top: 1.5rem;
  text-transform: uppercase;
}

.footer-nav-title {
  color: var(--Dark-Grayish-Violet);
}

.footer-body .nav-link:hover {
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 48rem) {

  /* footer head  */
  .footer-head {
    flex-direction: column;
  }

  .footer-img-holder {
    margin-bottom: 1rem;
  }

  .navbar-nav {
    justify-content: center;
  }

  .navbar-nav img {
    margin: auto;
  }

  .footer-head .nav-link {
    margin: 0 0.5rem;
  }

  /* footer-body */
  .footer-nav-title {
    margin: 1.2rem 0 0.5rem;
  }
}